{% extends "layouts/main.html" %}

{% block pageTitle %}
  Become an ATT
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Become an Approved Tuberculin Tester (ATT)</h1>

      <p class="govuk-body-l">How to get and maintain an Approved Tuberculin Tester (ATT) qualification, and what to do if you want to end your authorisation.</p>

        

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Eligibility</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Training and requirements</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Maintaining your qualification and authorisation</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Maintaining your ATT records</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">How to stop being an ATT</a></li>

          </ol>
        </nav>
      </aside>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p>ATTs are non-veterinary personnel who are authorised by the Animal and Plant Health Agency (APHA) to carry out statutory TB skin testing of cattle in England and Wales only. They are also known as Animal Health Paraprofessionals (AHPs).</p>

      <div class="govuk-inset-text">
        <p>All ATTs are authorised under the <a href="">Policy for Authorisation of Approved Tuberculin Testers (TR541)</a>. You must be familiar with this document before becoming an ATT and while you are authorised.</p>
      </div>


      <h2 class="govuk-heading-m">Training and requirements</h2>

      <h3 class="govuk-heading-s">Eligibility</h3>
      <p>To become an ATT you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be at least 18 years old when you apply</li>
        <li>have passed identification and basic Disclosure and Barring Service (DBS) checks</li>
        <li>have at least 6 months livestock handling experience</li>
        <li>have at least 3 GCSEs or equivalent qualifications in maths, English, and a science subject or food production, or 3 years experience in a government regulatory role</li>
        <li>have your employer declare that you're eligible to do the training</li>
      </ul>

      

      <h3 class="govuk-heading-s">Register with Improve International</h3>
      <p>To access the AHP training you must <a href="https://www.improve-ahp.com/registration/">register with Improve International</a> and then choose to do the OCQ(AHP) - ATT qualification.</p>

      <h3 class="govuk-heading-s">Complete the ATT course and exam</h3>
      <p>To become an ATT you must complete an online course and pass the end of module exams.</p>

      <h3 class="govuk-heading-s">Get conditional authorisation and complete the practical training</h3>
      <p>Complete these steps before you can enrol in the ATT practical training.</p>
      <ol class="govuk-list govuk-list--number">
        <li>Nominate a supervisor.</li>
        <li>Confirm your supervisor has accepted the role and appointed at least one deputy.</li>
        <li><a href="sam-register-enrol-v3">Enrol in Sam</a>, APHA's online system for recording TB test results.</li>
      </ol>
      <p>When you have completed these steps, APHA will give you conditional authorisation so you can complete the ATT practical training and assessment.</p>

      <h3 class="govuk-heading-s">Get full authorisation to become an ATT</h3>
      <p>When you have completed your qualification and practical training, Improve International will ask APHA's OV team to grant your full ATT authorisation.</p>
      <p>To get authorised, you must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be regarded by the Agency as suitable for carrying out tasks on behalf of Ministers, taking into account any previous performance as an official</li>
        <li>carry out any testing as part of a veterinary business, under the supervision of an AVS and one or 2 deputy AVS (AVSd)</li>
      </ul>
      <p>Authorisation can take up to 10 working days. You'll be notified by email if you're successful.</p>

      

      <h2 class="govuk-heading-m">Maintaining your qualification and authorisation</h2>
      <p>Your OCQ(AHP) - ATT qualification must be revalidated 2 years after the initial authorisation and then every 4 years. Improve International will send you reminders of your revalidation deadline by email.</p>

      <p>Your testing will also be audited by your AVS 4 to 6 months after passing the practical assessment.</p>

      <h3 class="govuk-heading-s">What happens if you do not maintain your qualification</h3>
      <p>If you do not revalidate your qualification by the deadline, your authorisation will be suspended and you’ll have 6 months to revalidate it before it expires.</p>
      <p>If your authorisation expires you’ll need to complete your training again and reauthorise as an ATT .</p>

      <h3 class="govuk-heading-s">Extensions and exceptions</h3>
      <p>You can apply for an extension or exception if you cannot complete:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the OCQ(AHP) - ATT training requirements within the period of conditional authorisation</li>
        <li>your revalidation within the deadline</li>        
      </ul>
      <p>Extensions and exceptions can only be considered in certain situations. Details can be found in the application form below.</p>

      <p><a href="">Request extension or exception to OCQ training requirement (TR588)</a>.</p>



      <h2 class="govuk-heading-m">Maintaining your ATT records</h2>
      <p>You are responsible for making sure all your details recorded on Improve International are correct.</p>

      <h3 class="govuk-heading-s">If you're registered on Sam and need to change your name or transfer to another practice</h3>
      <p>To change your details on Sam you must first update your Improve International account information, and then complete:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the <a href="https://www.gov.uk/government/publications/ov57-change-your-name-on-sam">OV57 form for a name change</a>, or</li>
        <li>the <a href="https://www.gov.uk/government/publications/ov58-change-veterinary-practice-details-on-sam">OV58 form for a practice transfer</a></li>
      </ul>
      <p>Your Sam details will be updated within 10 working days.</p>



      <h2 class="govuk-heading-m" id="stop-being-ov">How to stop being an ATT</h2>
      <p>You can either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">deregister as an ATT (form OV56)</a>, or</li>
        <li>allow your authorisation to expire by choosing not to revalidate your qualification(s)</li>
      </ul>
      <p>Deregistering as an ATT will stop all official ATT communications. If you do not deregister, official communications related to your qualifications will stop soon after your qualifications expire but you will continue to receive some ATT briefing notes.</p>
      <!-- <p>Deregistering as an OV will stop all official OV communications. If you do not deregister, official communications related to your qualifications will stop soon after your qualifications expire but you will continue to receive some OV briefing notes.</p> -->






      

      

      <p></p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
