{% extends "layouts/main.html" %}

{% block pageTitle %}
  Become an AHP
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Become an Approved Tuberculin Tester (ATT) or Certification Support Officer (CSO)</h1>

      <p class="govuk-body-l">How to get and maintain your Animal Health Paraprofessional (AHP) qualification, and what to do if you want to end your authorisation.</p>

        

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Eligibility</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Training and requirements</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Maintaining your qualification and authorisation</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Maintaining your AHP records</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">How to stop being an AHP</a></li>

          </ol>
        </nav>
      </aside>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p>ATTs and CSOs are non-veterinary professionals who are authorised by the Animal and Plant Health Agency (APHA) to carry out statutory work. They are also known as Animal Health Paraprofessionals (AHPs).</p>
      <p>ATTs perform TB skin testing of cattle in England and Wales.</p>
      <p>CSOs support Certifying Officers for export health certification for animal products (excluding germplasm and live animals).</p>



      <h2 class="govuk-heading-m">Eligibility</h2>

      <h3 class="govuk-heading-s">ATT eligibility</h3>
      <p>ATTs must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be at least 18 years old when you apply</li>
        <li>have passed identification and basic Disclosure and Barring Service (DBS) checks</li>
        <li>have at least 6 months livestock handling experience</li>
        <li>have at least 3 GCSEs or equivalent qualifications in maths, English, and a science subject or food production, or 3 years experience in a government regulatory role</li>
        <li>have your employer declare that you're eligible to do the training</li>
      </ul>
      <h3 class="govuk-heading-s">CSO eligibility</h3>
      <p>CSOs must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be over the age of 18</li>
        <li>have the right to work in the UK</li>
        <li>have a basic DBS check with no recorded convictions</li>
        <li>be proficient in English and able to communicate for the purposes of the role of an AHP</li>
        <li>have no known conflict of interest in the proposed work</li>
      </ul>
      <p>You must also have at least 3 A levels, one of which must be in a science or food technology subject. Equivalent qualifications, such as Scottish Highers or non-UK qualifications, and all UK university degrees, are also eligible.</p>
      <p>If you do not have any of these qualifications, you may be able to <a href="">apply for CSO eligibility based on relevant experience (ET222)</a>.</p></li>


      <h2 class="govuk-heading-m">Training and requirements</h2>

      <p>The training, qualification and appointment of AHPs is set out:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>for ATTs, in the <a href="">Policy for Authorisation of Approved Tuberculin Testers (TR541)</a></li>
        <li>for CSOs, in the <a href="">Policy for APHA Authorisation of Export Certification Support Officers (CSOs) in Great Britain (ET175)</a></li>
      </ul>

      <h3 class="govuk-heading-s">Register with Improve International</h3>
      <p>To access the AHP training you must <a href="">register with Improve International</a> and then choose:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the OCQ(AHP) - ATT, if you want to become an ATT</li>
        <li>the OCQ(AHP) - CSO, if you want to become a CSO</li>
      </ul>

      <h3 class="govuk-heading-s">Complete the qualification and training</h3>
      <p>All AHPs must complete an online course and pass the end of course exam.</p>
      <p>ATTs must also complete practical training and an assessment, under the supervision of an Approved Veterinary Supervisor (AVS). APHA will give you conditional authorisation to carry out the practical training after you pass the exam. </p>

      <h3 class="govuk-heading-s">Get authorised by APHA</h3>
      <p>When you have completed your qualification and practical training, Improve International will ask APHA's OV team to grant your full AHP authorisation.</p>
      <p>You must be regarded by the Agency as suitable for carrying out tasks on behalf of Ministers, taking into account any previous performance as an official</p>
      <p>Authorisation can take up to 10 working days. You'll be notified by email if you're successful. If you're a CSO, APHA will send your CSO stamp to your main practice address.</p>

      <h3 class="govuk-heading-s">Authorisation requirements for ATTs</h3>
      <p>Authorised ATTs must carry out any testing as part of a veterinary business, under the supervision of an AVS and one or 2 deputy AVS (AVSd). You will be audited by your AVS 6 months after passing the practical assessment.</p>
      <p>You must also <a href="">enrol in Sam</a> to submit TB test results online.</p>


      <h2 class="govuk-heading-m">Maintaining your qualification and authorisation</h2>
      <p>AHP qualifications must be revalidated:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>for ATTs, 2 years after the initial authorisation and then every 4 years</li>
        <li>for CSOs, every 4 years</li>
      </ul>
      <p>Your authorisation will be suspended if you do not maintain your qualification(s). Improve International will send you reminders of your revalidation deadline by email. If you do not revalidate by the deadline your authorisation will be suspended and you’ll have 6 months to revalidate it before it expires.</p>
      <p>If your authorisation expires you’ll need to complete your training again to reauthorise.</p>

      <h3 class="govuk-heading-s">Extensions and exceptions</h3>
      <p>You can apply for an extension or exception if you cannot complete:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the OCQ(AHP) revalidation within the deadline</li>
        <li>the OCQ(AHP) - ATT training requirements within the period of conditional authorisation</li>
      </ul>
      <p>Extensions and exceptions can only be considered in certain situations. Details can be found in the application form.</p>

      <p><a href="">Request extension or exception to OCQ training requirement (TR588)</a>.</p>



      <h2 class="govuk-heading-m">Maintaining your AHP records</h2>
      <p>You are responsible for making sure all your details recorded on Improve International are correct.</p>

      <h3 class="govuk-heading-s">If you need a replacement CSO stamp</h3>
      <p>If your CSO stamp has been lost, damaged or stolen you must complete the <a href="https://www.gov.uk/government/publications/ov45-get-a-new-official-veterinarian-ov-stamp">OV45 form</a> and send it to APHA’s OV team. The OV team will send you a replacement stamp within 10 working days of receiving the form.</p>
      <p>You’ll need a lost property number for a stamp that’s been lost.</p>
      <p>If your stamp has been stolen you must report the theft to the police. If you are given a crime reference number you must include it on the OV45 form.</p>

      <h3 class="govuk-heading-s">If you're registered on Sam and need to change your name or transfer to another practice</h3>
      <p>To change your details on Sam you must first update your Improve International account information, and then complete:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the <a href="https://www.gov.uk/government/publications/ov57-change-your-name-on-sam">OV57 form for a name change</a>, or</li>
        <li>the <a href="https://www.gov.uk/government/publications/ov58-change-veterinary-practice-details-on-sam">OV58 form for a practice transfer</a></li>
      </ul>
      <p>Your Sam details will be updated within 10 working days.</p>



      <h2 class="govuk-heading-m" id="stop-being-ov">How to stop being an AHP</h2>
      <p>You can either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">deregister as an AHP (form OV56)</a>, or</li>
        <li>allow your authorisation to expire by choosing not to revalidate your qualification(s)</li>
      </ul>
      <!-- <p>Deregistering as an OV will stop all official OV communications. If you do not deregister, official communications related to your qualifications will stop soon after your qualifications expire but you will continue to receive some OV briefing notes.</p> -->
      <h3 class="govuk-heading-s">How to destroy your official CSO stamp</h3>
      <p>When your authorisation ends you must destroy your official CSO stamp. You can do this yourself or post it to APHA’s OV team to do it for you. If you want to destroy your stamp yourself, you must:</p>
          <ol class="govuk-list govuk-list--number">
            <li>Peel off the rubber containing the unique number.</li>
            <li>Cut the rubber off and dispose of the rubber and number separately.</li>
            <li>Take a picture of the destroyed stamp and email it to <a href="">CSCOneHealthOVTeam@apha.gov.uk</a>.</li>
          </ol>







      

      

      <p></p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
