{% extends "layouts/main.html" %}

{% block pageTitle %}
  Animal disease scanning surveillance at APHA

{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Animal disease scanning surveillance at APHA</h1>

      <p class="govuk-body-l">The Animal and Plant Health Agency detects and investigates new and re-emerging diseases in livestock, and kept and wild animals in England and Wales.</p>

        

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#disease">How APHA carries out disease surveillance</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#siu">Surveillance Intelligence Unit (SIU)</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#equine">Equine surveillance</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#livestock">Centre of Expertise in Extensively Managed Livestock (CoEEML)</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#contact">Contact the SIU</a></li>

                        <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#partners">APHA’s partners</a></li>





          </ol>
        </nav>
      </aside>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">


<p>
The Animal and Plant Health Agency (APHA) carries out disease surveillance to identify new or re-emerging threats to animal and public health.
</p>

<p>
Disease surveillance enables APHA to:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>
characterise potential threats, using information from farm visits, laboratory testing, scientific literature and subject experts
</li>
<li>
assess the risk to animal health and welfare, public health, and international trade
</li>
<li>
communicate clearly to Government and industry to enable appropriate decisions and actions to be taken
</li>


<div class="govuk-inset-text">

  <p>
<a href="apha-data">Read the reports, analyses, surveillance data and other publications</a> produced by APHA.
</p>

</div>




</ul>

<h2 class="govuk-heading-m"id="disease">How APHA carries out disease surveillance</h2>

<h3 class="govuk-heading-s">Livestock surveillance</h3>

<p>
APHA collects data from carrying out <a href="link">diagnostic tests</a> and <a href="link">post-mortem examinations</a> on farm animals as part of it’s disease surveillance.
</p>
<p>
The APHA national network also provides advice and support to veterinary surgeons to diagnose, control and prevent disease in farm animals.
</p>
<h3 class="govuk-heading-s">Wildlife surveillance</h3>

<p>
The APHA Diseases of Wildlife Scheme (DoWS) delivers national surveillance for wildlife disease in England and Wales to government. APHA also chairs the Great Britain Wildlife Disease Surveillance Partnership which publishes <a href="https://www.gov.uk/government/publications/wildlife-gb-disease-surveillance-and-emerging-threats-reports">quarterly threat reports</a>.
</p>

<h3 class="govuk-heading-s">The national network</h3>

<p>
We collect our data through the APHA national network which includes:
</p>

<ul class="govuk-list govuk-list--bullet">

<li>
<a href="link">Veterinary Investigation Centres</a> in England and Wales
</li>
<li>
Scotland’s Rural College (SRUC) Disease Surveillance Centres in Scotland operated by <a href="https://www.sruc.ac.uk/business-services/veterinary-laboratory-services/">SRUC Veterinary Services</a> 
</li>

<li>
  <a href="link">partner post-mortem providers</a>, universities and other partners who provide post mortem examination services under contract
</li>

<li>
APHA Lasswade (for poultry only)
</li>
</ul>


<p>
This data is then analysed by the Surveillance Intelligence Unit (SIU), which produces reports and alerts to government, veterinary surgeons and industry.
</p>

<h2 class="govuk-heading-m"id="siu">Surveillance Intelligence Unit (SIU)</h2>

<p>
The Surveillance Intelligence Unit (SIU) manages veterinary scanning surveillance activities at APHA.
</p>

<p>
The SIU is comprised of the:
</p>

<ul class="govuk-list govuk-list--bullet">

<li>
Species Expert Groups (SEGs)
</li>

<li>
Surveillance Epidemiology and Data Analysis (SEDA) team
</li>
</ul>

<h3 class="govuk-heading-s">Species Expert Groups (SEGs)</h3>

<p>
The SEGs gather, analyse and share information on animal health surveillance in each main livestock species.
</p>

<p>
Information is gathered from the diagnostic service (APHA, SRUC Veterinary Services and partner post-mortem providers) and other sources of animal health data.
</p>

<p>
Each livestock SEG usually includes:
</p>

<ul class="govuk-list govuk-list--bullet">

<li>
APHA and representatives from SRUC Veterinary Services including veterinary and scientific staff. Associate members also provide input on specific diseases or international trade
</li>
<li>
non-APHA representatives from the livestock industry, sector councils, academia, specialist veterinary divisions and Veterinary Medicines Directorate.
</li>
</ul>

<p>
Read more about the SEGs high level objectives in the <a href="link">Species Expert Groups Terms of Reference</a> (PDF, 289 KB, 5 pages).
</p>

<p>
Each SEG has a veterinary lead who you can <a href="report-disease">contact to report unusual death or disease in animals</a>.
</p>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Species Expert Group"
    },
    {
      text: "Veterinary lead",
      format: "numeric"
    },
    {
      text: " Contact details",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Avian"
      },
      {
        text: "Zoe Treharne",
        format: "numeric"
      },
      {
        text: "Email: zoe.treharne@apha.gov.uk
Telephone: 0207 895 5821",
        format: "numeric"
      }
    ],
    [
      {
        text: "Cattle"
      },
      {
        text: "Vanessa Swinson  ",
        format: "numeric"
      },
      {
        text: "Email: vanessa.swinson@apha.gov.uk
Telephone: 0208 565 4574",
        format: "numeric"
      }
    ],
    [
      {
        text: "Pig"
      },
      {
        text: "Susanna Williamson ",
        format: "numeric"
      },
      {
        text: "Telephone: 0208 0264990
or 03000 600018",
        format: "numeric"
      }
    ],
    [
      {
        text: "Miscellaneous
and exotic species"
      },
      {
        text: "David Jorge  ",
        format: "numeric"
      },
      {
        text: "Email: david.jorge@apha.gov.uk
Telephone: 03000 600018",
        format: "numeric"
      }
    ],
    [
      {
        text: "Small ruminants  "
      },
      {
        text: "Rudolf Reichel ",
        format: "numeric"
      },
      {
        text: "Email: rudolf.reichel@apha.gov.uk
Telephone: 0734 207 0255 or 020 802 6565",
        format: "numeric"
      }
    ],
    [
      {
        text: "Small animals  "
      },
      {
        text: "Elizabeth Bruno-McClung  ",
        format: "numeric"
      },
      {
        text: "Email: elizabeth.bruno-mcclung@apha.gov.uk
Telephone: 07823 537 373",
        format: "numeric"
      }
    ],
    [
      {
        text: "Wildlife"
      },
      {
        text: "Samantha Holland and Jenny Cantlay ",
        format: "numeric"
      },
      {
        text: "Email: Sam.Holland@apha.gov.uk Jenny.Cantlay@apha.gov.uk",
        format: "numeric"
      }
    ]


  ]
}) }}


<h3 class="govuk-heading-s">Surveillance Epidemiology and Data Analysis team (SEDA)</h3>

<p>
The Surveillance Epidemiology and Data Analysis (SEDA) team helps the SEGs to collate, analyse and communicate surveillance data.
</p>

<p>
The team provides data management, analysis and epidemiological expertise and works with other groups across APHA, in industry and in academia to explore and implement data and methodologies that will enhance the value of surveillance information.
</p>

<h3 class="govuk-heading-s">Specialist groups</h3>

<p>
APHA also carries out surveillance for cross-species disciplines including:
</p>

<ul class="govuk-list govuk-list--bullet">

<li>
   <a href="https://www.gov.uk/government/publications/parasitology-literature-review-and-horizon-scanning">parasitology</a>


</li>

<li>
   <a href="https://www.gov.uk/government/publications/chemical-food-safety-reports">toxicology</a>

</li>
<li>
   <a href="https://www.gov.uk/government/publications/zoonoses-and-veterinary-public-health-disease-surveillance-reports">zoonoses</a>

</li>

</ul>
<h2 class="govuk-heading-m"id="equine">Equine surveillance</h2>

<p>
Equine Infectious Disease Surveillance (EIDS) is an independently funded team based at Cambridge Vet School, University of Cambridge. EIDS delivers surveillance activities in horses and collaborates with stakeholders through the following services, all of which are available through the <a href="https://equinesurveillance.org/landing/">EIDS website</a>:
</p>

<ul class="govuk-list govuk-list--bullet">

<li>
Equine Influenza Surveillance Scheme - which provides free of charge PCR testing for suspected cases of flu
</li>
<li>
Tell-Tale alert service to receive UK outbreak reports by text message on all notifiable equine diseases, equine influenza, EHV-1 neurological and EHV-1 abortion/neonatal death, as well as monthly updates on equine strangles
</li>
<li>
International Collating Centre (ICC) - a national and international surveillance reporting system that alerts subscribers to outbreaks and provides quarterly summary reports
</li>
<li>
Viral Isolate Library submissions for laboratories to confirm diagnoses of equine viruses (such as equine influenza, EHV-1, EHV-4, EHV-3). These sample submissions enable further investigation on viral genomics and strain variation.
</li>

</ul>

<h3 class="govuk-heading-s">Equine surveillance by other organisations</h3>

<p>
The <a href="https://app.jshiny.com/jdata/ses/sesview/">Surveillance of Equine Strangles (SES)</a> project, based at the Royal Veterinary College and funded by the Horse Trust, shares information about strangles including information based on:

</p>

      <ul class="govuk-list govuk-list--bullet">

<li>
the regional geography of vet practices making diagnoses
</li>
<li>
the demographics of horses being confirmed with infection
</li>
<li>
diagnostic testing and the types of samples being submitted for lab testing
</li>
</ul>

<p>
The <a href="https://www.grasssickness.org.uk/">Equine Grass Sickness (EGS)</a> surveillance scheme was established in spring 2008 to facilitate the investigation of changes in geographical distribution and incidence of the disease in Great Britain.
</p>

<h3 class="govuk-heading-s">Reports and publications</h3>

<p>
The Equine Disease Surveillance Report, in partnership with the British Equine Veterinary Association (BEVA) and APHA, is published on the EIDS website and in the Veterinary Record.
</p>

<h2 class="govuk-heading-m"id="livestock"coeeml>Centre of Expertise in Extensively Managed Livestock (CoEEML)</h2>

<p>
CoEEML is based at <a href="link">APHA Carmarthen Veterinary Investigation Centre</a>  and forms part of the wider veterinary surveillance system operated by APHA.
</p>

<p>
‘Extensively-managed livestock’ are those that are kept in such a way that they are not easily inspected for signs of ill health or significantly altered production, for example animals that are kept on common land, uplands, mountains or moors. The primary focus for the centre are cattle and sheep.
</p>

<p>
CoEEML aims to develop:
</p>

      <ul class="govuk-list govuk-list--bullet">

<li>
engagement with keepers of extensively managed livestock to promote disease surveillance activities and improve collection of surveillance data
</li>

<li>
communication and information sharing with farmers and vets, to promote healthy livestock, productivity and sustainable farming in extensive systems
</li>

<li>
a virtual hub of expertise in surveillance in extensively managed livestock to complement the Species Expert Groups</li>

</ul>
<h3 class="govuk-heading-s">Contact the Centre</h3>

<p>
You can contact your local Veterinary Investigation Centre and speak to the CoEEML representative vet within the centre:
</p>

{% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Centre  
"
    },
    {
      text: "Contact name",
      format: "numeric"
    },
    {
      text: " Contact number",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Carmarthen"
      },
      {
        text: "Caroline Fenemore and Kitty Robinson",
        format: "numeric"
      },
      {
        text: "03000 600 016 ",
        format: "numeric"
      }
    ],
    [
      {
        text: "Shrewsbury"
      },
      {
        text: "Suzi Bell",
        format: "numeric"
      },
      {
        text: "03000 600 023",
        format: "numeric"
      }
    ],
    [
      {
        text: "Starcross"
      },
      {
        text: "Harriet McFadzean",
        format: "numeric"
      },
      {
        text: "03000 600 020",
        format: "numeric"
      }
    ],
    [
      {
        text: "Thirsk"
      },
      {
        text: "Alan Murphy",
        format: "numeric"
      },
      {
        text: "03000 600 098",
        format: "numeric"
      }
    ]


  ]
}) }}


<h2 class="govuk-heading-m"id="contact">Contact the SIU</h2>

<p>
You can contact the SIU with any queries or feedback:
</p>

<p>
Contact your <a href="apha-data">local APHA Veterinary Investigation Centre</a><br>
Contact the SEG lead<br>
Email the SEDA team: SEDA@apha.gov.uk
</p>

<h2 class="govuk-heading-m"id="partners">APHA’s partners</h2>

<p>
Animal health surveillance is overseen by the <a href="apha-data">UK Surveillance Forum (UKSF)</a> which includes the Chief Veterinary Officers and policy representations from all four administrations.
</p>

<p>
The UKSF has published the <a href="https://www.gov.uk/government/publications/uksf-uk-approach-to-animal-health-surveillance">UK approach to animal health surveillance</a>, which sets out the requirements for successful surveillance.
</p>

<p>
This relies on partnerships between APHA, APHA’s partner post-mortem providers, livestock keepers, private veterinary surgeons and other stakeholders.
</p>

<p>
Some of the groups that we work with include:
</p>

      <ul class="govuk-list govuk-list--bullet">

<li>
Royal Veterinary College
</li>
<li>
SRUC Veterinary Services
</li>
<li>

EPIC
</li>
<li>
University of Liverpool
</li>
<li>
Food Standards Agency
</li>
<li>
Veterinary Medicines Directorate
</li>
<li>
AHDB
</li>
</ul>



      <p></p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
