{% extends "layouts/main.html" %}

{% block pageTitle %}
  Export guide
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Export animals, gametes and embryos: APHA disease testing</h1>

      <p class="govuk-body-l">Use this form to submit samples for laboratory testing for export purposes.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;


<h2 class="govuk-heading-m">Documents</h2>

        <a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-lsw008.pdf"><img src="/public/images/AAP201.png" height="200px" align="left" alt="User icon" style="margin-right: 20px"></a>

        <h2 class="govuk-heading-m"><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-lsw008.pdf">Export animals, gametes and embryos: APHA disease testing</a></h2>
        <p class="govuk-body" style="margin-bottom: 5px">PDF, 738 KB, 2 pages</p>
        <p class="govuk-body" style="margin-bottom: 5px">This file may not be suitable for users of assistive technology.</p>
        <p class="govuk-body" style="margin-bottom: 50px"><a href="">Request an accessible format.</a></p>



            <!-- <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#contact">Contact information</a></li> -->
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-m"></h2>

<h2 class="govuk-heading-m" id="form">Details</h2>

<p>
Veterinary surgeons can use this form to submit samples from animals, gametes and embryos to meet the testing requirements for an export health certificate.</p>

<p>
Testing is carried out by the Animal and Plant Health Agency (APHA). 
</p>

<p>
You can use the same form for multiple types of test.
</p>

      <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="">
        <div class="govuk-cookie-banner__message govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width">
              <h2 class="govuk-cookie-banner__heading govuk-heading-m"></h2>
              <div class="govuk-cookie-banner__content">
                <p class="govuk-body" style="margin-left: 30px; margin-top: -10px; margin-bottom: 30px; margin-right: 15px">Check the <a href="https://www.gov.uk/export-health-certificates">export health certificates (EHC)</a> to find out which tests need to be carried out.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

<br>
<h2 class="govuk-heading-m" id="form">Use the correct form</h2>

<p>
You can use this form to test most animal species, gametes and embryos for most export purposes. 
</p>

<p>
Certain species and diseases require a different form.
</p>


<p>
Use a different form to test:
</p>


  <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-lsw013.pdf">horses for the CEM organism for export and breeding</a></li>
       <li><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-wnv02.pdf">horses for West Nile virus: export, import, vaccination status and to exclude notifiable diseases</a></li> 
        <li><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-apha_avian_viro.pdf">birds for viruses for export, import or quarantine</a></li>
        <li><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-campyl-trich1.pdf">cattle for bovine genital campylobacter and trichomonas</a></li>
      </ul>


<!-- * [test horses for the CEM organism for export and breeding](/government/admin/publications/1496509)
* [test birds for viruses for export, import or quarantine](/government/admin/publications/1491619)
* [test cattle for bovine genital campylobacter and trichomonas](/government/admin/publications/1494007) -->

<h2 class="govuk-heading-m" id="submit">Submitting samples</h2>

<p>
Package the samples according to the <a href="https://draft-origin.publishing.service.gov.uk/guidance/how-to-pack-and-label-samples-for-submission-to-apha?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhNWYyYTA2ZC0yZTAzLTRiNmQtYjQ2OC1lNTNjNTViODg4OGIiLCJjb250ZW50X2lkIjoiMTJjZTY1YmItYTY3NC00NzMwLTlkNzMtMzVlMjQxOWQ1ZmFjIiwiaWF0IjoxNzEyNTkyNjQwLCJleHAiOjE3MTUxODQ2NDB9.JBnxDln0suq48fP_fnYTAnbMa3f8ofgYkGKSp6rJHrE&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share">postal regulations for pathological material</a>.
</p>


<p>
Send this form and the samples to:</p>

<p>Sample Reception
<br>
APHA Weybridge
<br>
Woodham Lane
<br>
 New Haw
<br>
Addlestone
<br>
Surrey       
<br>
KT15 3NB
<br>
</p>


<h2 class="govuk-heading-m" id="fees">Fees, test codes and turnaround times</h2>

<p>
Search for the fees, codes and maximum turnaround times for each test on the <a href="https://draft-origin.publishing.service.gov.uk/government/publications/apha-test-fees-for-export-captive-avian-import-and-abc?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxZmMxYTIzMC01ZjIyLTRjMDktYjJkNi04OTgwZjA3N2JmM2IiLCJjb250ZW50X2lkIjoiMTNhZTUyOTUtYjBiNi00ZDI3LTlkMzgtMWU4NDdhODM3NTRiIiwiaWF0IjoxNzEyNTk0MTYyLCJleHAiOjE3MTUxODYxNjJ9.WAqJ6pGMG3PYO_nml85gfbHEvjhfX6rOT4hilX3eZnU&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share
">APHA export price list</a>.
</p>


<h3 class="govuk-heading-s" id="fast">Fast track service</h3>


<p>
You can select the APHA fast track service on the form.
</p>

<p>
With the APHA fast track service:
</p>

  <ul class="govuk-list govuk-list--bullet">
        <li>your sample testing is prioritised</li>
        <li>samples are tested as soon as possible, either on the day of their arrival, or the day after, depending on delivery time and test protocol</li>
        <li>results are sent the same day as the test is complete</li>
        <li>costs £75.30 for every sample in each test</li>
      </ul>

<p>
Some tests cannot be fast tracked. You will be contacted if this is the case and not be charged. 
</p>

<h2 class="govuk-heading-m" id="pay">How to pay</h2>

<p>
You enter into a contract with APHA when the lab receives your sample and submission form.
</p>

<p>
An invoice will be sent to you with instructions on how to set up an account to make payment.
</p>

<p>
You can read the <a href="/government/admin/publications/1495076">APHA general terms and conditions</a> which apply to testing where no specific contract is signed.
</p>

<h2 class="govuk-heading-m" id="results">Receiving your test results</h2>

<p>
Check the price list for the maximum processing time for each test.
</p>

<p>
Test results are returned as soon as possible. If you need the findings urgently, you should include this on the form.
</p>

<p>
Reports are sent by email. You can ask for the report to be sent by post. Reports sent by special delivery will result in extra charges and you will need to ask the centre for this service. You can also ask that results are sent to recipients other than yourself.
</p>

<h2 class="govuk-heading-m" id="confirm">Confirm a test report’s validity</h2>


<p>
You can check that a previous test report was issued by APHA. You will need to provide a scan or photo of the report. Contact APHA Weybridge.
</p>

<h2 class="govuk-heading-m" id="help">Get help</h2>

<p>
Contact APHA Weybridge:</p>

<p>Telephone: 03000 600 022
  <br>
lab.services@apha.gov.uk</p>



      
      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
