{% extends "layouts/main.html" %}

{% block pageTitle %}
  Become an FCCO
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Become a Food Competent Certifying Officer (FCCO)</h1>

      <p class="govuk-body-l"></p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#"></a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#"></a></li> 
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p>FCCOs are Certifying Officers who certify certain Export Health Certificates (EHCs) to other countries. They are authorised by APHA and must be employed by a local authority (LA) or Food Standards Scotland (FSS).</p>
      
      <p>FCCOs have competencies to operate official controls under the Food Act. They must be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>deployed by a competent authority</li>
        <li>qualified to perform official controls and other official activities in accordance with the Official Controls Regulation (2017/625) and any other relevant rules</li>
      </ul>

      <p>The training, qualification and appointment of FCCOs is set out in <a href="">The Policy for Authorisation of FCCO in Great Britain by APHA (ET209)</a>.</p>



      <h2 class="govuk-heading-m">How to become an FCCO</h2>

      <h3 class="govuk-heading-s">FCCO eligibility</h3>
      <p>To become a FCCO you must work for a LA or FSS and hold a valid OCQ(FCCO) certificate.</p>
      <p>You must also have a recognised qualification that demonstrates competency to undertake official controls according to the Food Law Code of Practice for the country in which you are authorised to act. Examples can be found in The Policy for Authorisation of FCCO.</p>
      <p>If you do not have any eligible qualifications, you can <a href="">request a FCCO eligibility check (ET210)</a> if you're studying for the Higher Certificate in Official Controls (HCOC) and have completed both:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the Higher Certificate in Food Premises Inspection</li>
        <li>the Higher Certificate in Food Standards Inspection</li>
      </ul>

      <h3 class="govuk-heading-s">How to register and enrol in the training</h3>
      <p>Improve International delivers all FCCO training. If you are eligible you can <a href="https://www.improve-ahp.com/registration/">register for the Official Controls Qualification (OCQ)(CO) - FCCO</a> using the code "21-FCCP-Reg-AP".</p>
      <p>You or your employer must then email APHA's Official Veterinarian (OV) team to request access to either the new FCCOs course or the revalidation training.</p>
      <p>There is no time limit for new candidates to complete the course.</p>

      <h3 class="govuk-heading-s">Getting authorised</h3>
      <p>FCCO authorisation is managed by APHA's OV team. They will be notified automatically when you've completed your training. Authorisation can take up to 10 working days.</p>
      <p>New FCCOs must wait to be authorised and receive an official FCCO stamp before starting work. Existing FCCOs can carry on working as long as you complete the revalidation training by the deadline.</p>




      <h2 class="govuk-heading-m">Maintaining your qualifications and authorisation</h2>
      <p>Your authorisation will be suspended if you do not maintain your qualification(s). The FCCO qualification must be revalidated every 4 years. Improve International will send you reminders of your revalidation deadline(s) by email. If you do not revalidate by the deadline your authorisation will be suspended and you'll have 6 months to revalidate it before it expires.</p>

      <h3 class="govuk-heading-s">Extensions and exceptions for revalidation</h3>
      <p>You can apply for an extension or exception if you cannot complete the OCQ(CO) - FCCO revalidation training within the deadline.</p>
      <p>Extensions and exceptions can only be considered in certain situations. Details can be found in the TR588 application form.</p>
      <p><a href="">Request extension or exception to OCQ training requirement (TR588).</a></p>


      <!-- <p>You must:</p>
      <ol class="govuk-list govuk-list--number">
        <li><a href="https://www.improve-ahp.com/qualifications/fcco.php">Register with Improve International.</a></li>
        <li>Complete the OCQ(CO) – FCCO qualification.</li>
        <li>Get authorised by APHA.</li>
      </ol>

      <h3 class="govuk-heading-s">How to register and enrol for the training</h3>
      <p>You must register -->

      



      





      

      

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}