{% extends "layouts/main.html" %}

{% block pageTitle %}
  Become an FCCO
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Become a Food Competent Certifying Officer (FCCO)</h1>

      <p class="govuk-body-l"></p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#"></a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#"></a></li> 
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p>FCCOs are Certifying Officers who certify Export Health Certificates (EHCs) for certain exports of animal products to other countries. They are authorised by APHA and must be employed by a local authority (LA) or Food Standards Scotland (FSS).</p>
      
      <p>FCCOs have competencies to carry out official controls under the Food Act. They must be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>deployed by a competent authority</li>
        <li>qualified to perform official controls and other official activities in accordance with the Official Controls Regulation (2017/625) and any other relevant rules</li>
      </ul>

      <div class="govuk-inset-text">
        <p>All FCCOs are authorised under the <a href="">The Policy for Authorisation of FCCO in Great Britain by APHA (ET209)</a>. You must be familiar with this document before becoming an FCCO and while you're authorised.</p>
      </div>




      <h2 class="govuk-heading-m">How to become an FCCO</h2>

      <h3 class="govuk-heading-s">FCCO eligibility</h3>
      
      <p>To be eligible to register for the FCCO training, you must have a recognised qualification that demonstrates competency to undertake official controls according to the Food Law Code of Practice for the country in which you are authorised to act. Examples can be found in The Policy for Authorisation of FCCO.</p>
      <p>If you do not have any eligible qualifications, you can <a href="">request a FCCO eligibility check (ET210)</a> if you're studying for the Higher Certificate in Official Controls (HCOC) and have completed both:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the Higher Certificate in Food Premises Inspection</li>
        <li>the Higher Certificate in Food Standards Inspection</li>
      </ul>

      <h3 class="govuk-heading-s">How to register and enrol in the training</h3>
      <p>Improve International delivers all FCCO training. If you are eligible you can <a href="https://www.improve-ahp.com/registration/">register for the Official Controls Qualification (OCQ)(CO) - FCCO</a> using the code "21-FCCP-Reg-AP".</p>
      <p>Your employer will need to confirm your eligibility before you can enrol.</p>

      <h3 class="govuk-heading-s">Getting authorised</h3>
      <p>To get authorised as an FCCO you must work for a LA or FSS and hold a valid OCQ(FCCO) certificate.</p>
      <p>Authorisation can take up to 10 working days. If you're successful, APHA will notify you by email and send your FCCO stamp to your employer's address.</p>      
      <p>You must not carry out any FCCO work until you receive confirmation of your authorisation by email and your official FCCO stamp by post.</p>




      <h2 class="govuk-heading-m">Maintaining your qualifications and authorisation</h2>
      <p>Your authorisation will be suspended if you do not maintain your qualification(s). The FCCO qualification must be revalidated every 4 years. Improve International will send you reminders of your revalidation deadline(s) by email.</p>
      <p>If you do not revalidate by the deadline your authorisation will be suspended and you'll have 6 months to revalidate it before it expires.</p>
      <p>You or your employer will be responsible for meeting the costs of revalidation.</p>

      <h3 class="govuk-heading-s">Extensions and exceptions for revalidation</h3>
      <p>You can apply for an extension or exception if you cannot complete the OCQ(CO) - FCCO revalidation training within the deadline.</p>
      <p>Extensions and exceptions can only be considered in certain situations. Details can be found in the TR588 application form.</p>
      <p><a href="">Request extension or exception to OCQ training requirement (TR588).</a></p>






      <h2 class="govuk-heading-m">Export Health Certificates (EHC) online</h2>

      <p>All FCCOs must register for the <a href="https://www.gov.uk/guidance/certify-an-export-health-certificate">certify an export health certificate</a> service.</p>

      <p><a href="https://www.gov.uk/government/publications/how-to-register-for-export-health-certificate-ehc-online">Find information about creating an EHC online account.</a></p>





      

      

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">
      </div>

    <div class="govuk-grid-column-one-third">
    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}