{% extends "layouts/main.html" %}

{% block pageTitle %}
  APHA submission forms
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

<style>

.info {
  padding-left: 280px;
}

</style>


{% block content %}

<span class="govuk-caption-l">Collection</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">  APHA testing submission forms</h1>

      <p class="govuk-body-l">Forms for veterinary surgeons to submit samples to test livestock, pets and wildlife for disease, and export, import and animal breeding control purposes.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;


      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#livestock">Livestock: disease diagnosis and post-mortem examinations</a></li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#export">Export, import, animal breeding control, and test to exclude</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#general">APHA Scientific - general commercial testing</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#OV">Official Veterinarians (OV) disease testing forms</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#tb">Tuberculosis (TB) testing for private veterinarians</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#salmonella">Salmonella: incident reporting</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#bvd">Bovine Viral Diarrhoea (BVD) testing</a></li>          
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#wildlife">Wildlife testing</a></li>
            
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <!-- <h2 class="govuk-heading-m"></h2> -->

      <p>Practising veterinary surgeons can use these forms to submit samples to the Animal and Plant Health Agency (APHA).</p>




      &nbsp;

      <!-- <div data-module="gem-track-click" class="govuk-!-margin-bottom-8" data-gem-track-click-module-started="true">
        <ul class="gem-c-document-list govuk-!-margin-bottom-5">
          <li class="gem-c-document-list__item">
            <div class="gem-c-document-list__item-title">
              <a class="govuk-link" href="/guidance/national-standard-for-driving-cars-and-light-vans-category-b">National standard for driving cars and light vans</a></div>
              <ul class="gem-c-document-list__item-metadata">
                <li class="gem-c-document-list__attribute"><time datetime="2010-03-30T01:00:00+01:00">30 March 2010</time></li>
              </ul>
            </div>
          </li>
        </ul> -->

      <h2 class="govuk-heading-m" id="livestock">Livestock: disease diagnosis and post-mortem examinations</h2>

      <p>Submit samples from livestock for non-statutory diagnostic testing and post-mortem examinations.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Cattle: diagnostic test submission form</strong></a></p>
      <p class="govuk-body-s">12 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Poultry and gamebirds: diagnostic test submission form</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Pigs: diagnostic test submission form</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Sheep and goats: diagnostic test submission form</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Other farmed mammals: diagnostic test submission form</strong></a></p>
      <p class="govuk-body-s">12 February 2024</p>
      
            &nbsp;

      <h2 class="govuk-heading-m" id="export">Export, import, animal breeding control, and test to exclude</h2>

      <p>Submit samples from animals, including gametes and embryos, for export, import, and animal breeding control purposes, and to test to exlude notifiable diseases.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="export-guide"><strong>Export animals, gametes and embryos: APHA disease testing</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="birds-export-guide"><strong>Birds: test for viruses for export, import or quarantine</strong></a></p>
      <p class="govuk-body-s">12 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Test to exclude notifiable diseases in birds</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="rabies-guide"><strong>Rabies antibody tests for pet travel schemes</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Horses: test for the CEM organism for export and breeding</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Horses: test for West Nile virus for export, import, vaccination status and to exclude notifiable diseases </strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Animal breeding control in cattle and pigs</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Test for bovine genital campylobacter and trichomonas in cattle</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <h2 class="govuk-heading-m" id="general">APHA general commercial testing</h2>

      <p>Submit samples to APHA Scientific for non-statutory commercial testing</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="https://draft-origin.publishing.service.gov.uk/government/publications/apha-weybridge-general-testing-form-lsw008?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI5OWNlZmYyNS1jZDEzLTQwOTgtYTI1OS00NGI1ODU4MTY4MTciLCJjb250ZW50X2lkIjoiNTNmZTZmNTItOWI1Zi00MzQzLTliMTktMmFkMDk4MTk2NjY5IiwiaWF0IjoxNzE0NDk1MjA0LCJleHAiOjE3MTcwODcyMDR9.Fov6QtfpdmXFTYPhiBtNyL0lwkoajMzhZ01anw2EpGQ&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share"><strong>APHA Weybridge - general testing form (LSW008)</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <h2 class="govuk-heading-m" id="OV">Official Veterinarians (OV) disease testing forms</h2>

      <p>Forms for Official Veterinarians (OV) to carry out Brucellosis and Tuberculin testing. Guidance for Official Veterinarians can be found in the <a href="ov-collection">OV section</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="http://apha.defra.gov.uk/External_OV_Instructions/TB_Deer_Instructions/Skin_Test/Equipment.html"><strong>Brucellosis report on investigation of abortion and calving for Official Veterinarians</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="http://apha.defra.gov.uk/External_OV_Instructions/TB_Deer_Instructions/Skin_Test/Equipment.html"><strong>Brucellosis blood sample report for Official Veterinarians</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="http://apha.defra.gov.uk/External_OV_Instructions/TB_Deer_Instructions/Skin_Test/Equipment.html"><strong>Tuberculin test chart: Veterinary inspectors</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="http://apha.defra.gov.uk/External_OV_Instructions/TB_Deer_Instructions/Skin_Test/Equipment.html"><strong>Non-bovine: tuberculin test report and certificate of clinical inspection for Official Veterinarians</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <h2 class="govuk-heading-m" id="tb">Tuberculosis (TB) testing for private veterinarians</h2>

      <p>Statutory tuberculosis (TB) tests for private veterinarians, private TB testing and using unapproved TB tests. Forms for Official Veterinarians can be found in the <a href="#OV">OV section</a>.</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>TB in pets: test submission form</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Private TB interferon-gamma testing of cattle 
</strong></a></p>
      <p class="govuk-body-s">12 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Apply to use an unapproved test for TB in cattle</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Apply to carry out private TB γ-interferon cattle testing</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>DPP for TB using serum</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Camelid TB antibody test package: submission form  </strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>




      <h2 class="govuk-heading-m" id="salmonella">Salmonella: incident reporting</h2>

      <p>Submit samples and report statutory testing for Salmonella.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Dogs: salmonella culture report form</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Birds: salmonella culture report form</strong></a></p>
      <p class="govuk-body-s">12 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Salmonella in animal feed: incident report form</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Salmonella: incident report form</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>



       




  <h2 class="govuk-heading-m" id="bvd">Bovine Viral Diarrhoea (BVD) testing</h2>

      <p>Submit samples for statutory tests for Bovine Viral Diarrhoea (BVD).</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Bovine Viral Diarrhoea (BVD): Antigen PCR test</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Bovine Viral Diarrhoea (BVD): ELISA test</strong></a></p>
      <p class="govuk-body-s">12 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Bovine Viral Diarrhoea (BVD): milk serology test</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>





<h2 class="govuk-heading-m" id="wildlife">Wildlife testing</h2>

      <p>Submit samples from wildlife for statutory tests.</p>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Bats: submission for rabies screening</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p><a href="link"><strong>Wild boar: trichinella testing</strong></a></p>
      <p class="govuk-body-s">28 February 2024</p>




      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
