{% extends "layouts/main.html" %}

{% block pageTitle %}
  General OV information
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

<style>

.info {
  padding-left: 280px;
}

</style>


{% block content %}

<span class="govuk-caption-l">Guidance</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Movement Assistance Scheme</h1>

      <p class="govuk-body-l"></p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;


      <!-- <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#how-become-ov">How to become an OV</a></li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#new-practice">Setting up a new practice</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#maintaining-records">Maintaining your OV records</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#stop-being-ov">How to stop being an OV</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#contact">Contact information</a></li>
          </ol>
        </nav>
      </aside> -->

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      

      <p>The Movement Assistance Scheme (MAS) provides support to traders moving agri-food commodities and live animals from Great Britain to Northern Ireland, and to Northern Ireland via Ireland.</p>
      <p>MAS will be open until June 2025. This aligns with the full implementation of the Windsor Framework. During this time, MAS will continue to accept claims for reimbursement or waiving of qualifying costs incurred on movement of goods up to 30 June 2025.</p>
      <p>There will be no certification cost for moving goods under the Nothern Ireland Retail Movement Scheme.</p>


      <h2 class="govuk-heading-m">What MAS covers</h2>
      <p>Products covered by the scheme include (but are not limited to):</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>live animals</li>
        <li>products of animal origin</li>
        <li>plants and plant products</li>
        <li>organic products</li>
        <li>high-risk food and feed of non-animal origin (HRFNAO) products listed in Annex 2 of regulation 2019/1793</li>
        <li>products originating from countries listed in Annex 1 of regulation 2020/1158</li>
      </ul>
    

      <h2 class="govuk-heading-m">Get help with costs if you're a certfier</h2>
      <p>Certifiers of agri-foods moving from GB-NI that require certification can receive financial support for some of the direct costs of checking and issuing certain certificates.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Certificates of Inspection (COIs)</li>
        <li>Export Health Certificates (EHCs)</li>
        <li>Official Certificates for HRFNAO</li>
        <li>Phytosanitary Certificates (PCs)</li>
        <li>Plant Health Exports Audited Trader Scheme (PHEATS)</li>
      </ul>
      <p>If you are an Official Veterinarian (OV) or other certifier, you must not charge for inspecting and certifying certain certification costs - up to a certain amount. You need to invoice the Government for the costs of the service you provide.</p>
      <p>Certifiers do not need to engage with MAS if the agri-food goods moving from GB to NI are not subject to the new NI Protocol requirements.</p>


      <h2 class="govuk-heading-m">Certifiers of Export Health Certificates (EHCs)</h2>
      <p>Movements of live animals and animal products from GB to NI may require an EHC. Businesses and traders will not incur a cost for an EHC (up to a set amount). This will be reimbursed directly to certifiers by the Government through MAS.
      <p><a href="https://www.gov.uk/guidance/certify-an-export-health-certificate">Register or sign in to EHC Online</a> to receive new certification requests.</p>
      <p>After your first request APHA will contact you with payment details and give you a Purchase Order (PO) number by email, which can be used to raise invoices.</p>
      <p>Follow the <a href="https://www.gov.uk/government/publications/how-to-register-for-export-health-certificate-ehc-online/ehc-online-certify-export-health-certificates">current inspection process to perform an EHC check</a>. If the goods pass inspection you can sign the certificate and sign in to EHC Online to make sure the certificate details are correct.</p>
      <p>



      
      





      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
