{% extends "layouts/main.html" %}

{% block pageTitle %}
  General OV information
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Become an Official Veterinarian (OV) or set up a new OV practice</h1>

      <p class="govuk-body-l">How to authorise and register as an OV, maintain your OV records and set up a new OV practice, and what to do if you will be TB testing.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#how-become-ov">How to become an OV</a></li><!-- 
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#stop-being-ov">How to stop being an OV</a></li> -->             
               
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#ov-records">Maintaining your OV records</a></li> 
            <!-- <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#lost-damaged-stolen-stamp">What to do if your stamp has been lost, damaged or stolen</a></li>   -->
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#new-practice">Setting up a new practice</a></li>  
                            
            <!-- <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#contact">Contact information</a></li> -->
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-m"></h2>

      <p>Official Veterinarians (OVs) are private practice veterinarians who are qualified to deliver government-funded statutory testing and other veterinarian services on behalf of the <a href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency (APHA)</a>.</p>

      <h2 class="govuk-heading-m" id="how-become-ov">How to become an OV</h2>
      <p>To become an OV you must <a href="https://improve-ov.com/registration/">register with Improve International</a> and complete the relevant Official Controls Qualification (Veterinary) training.</p>

      <p>There are specific <a href="tb-testing-zoos">training requirements and exceptions for veterinary surgeons carrying out TB testing</a>.</p>



      <!-- NEEDS CHECKING -->

      <p>If you were authorised as an OV or Local Veterinary Inspector (LVI) before 2014, you may be able to apply for grandfather rights in the corresponding OCQ(V)s.</p>

      


      <p><a href="https://www.improve-ov.com/qualifications/about.php">Learn more about the different OV qualifications at Improve International</a>.</p>

      <p>APHA will grant your OV authorisation when you have completed the training. Authorisation can take up to 10 working days. You will be notified by email when it has been granted. APHA will then send your stamp to you.</p>



      <!-- NEEDS CHECKING -->

      <h3 class="govuk-heading-s">OV training costs</h3>

      <p>You or your employer will be responsible for training costs. Prospective and current OVs working in Scotland may be eligible to claim a Scottish Government funded code for OCQ(V) - SS and OCQ(V) - TT training.</p>



      <!-- <div class="call-to-action">
        <p></p>
      </div> -->





      <h3 class="govuk-heading-s">Maintaining your qualification</h3>


      <!-- IS IT THAT MOST OVs CAN REVALIDATE EVERY 4 YEARS OR THAT MOST QUALIFICATIONS WILL BE SUSPENDED IF NOT MAINTAINED? -->

      <p>Your authorisation will be suspended if you do not maintain your qualification(s). Most OVs can do this by revalidating it every 4 years. </p>

      <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="">
        <div class="govuk-cookie-banner__message govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width">
              <h2 class="govuk-cookie-banner__heading govuk-heading-m"></h2>
              <div class="govuk-cookie-banner__content">
                <p class="govuk-body" style="margin-left: 30px; margin-top: -10px; margin-bottom: 30px; margin-right: 15px">If your qualification is suspended you will have 6 months to revalidate it before it expires. If it expires you will need to complete your OV training again.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <p>If you do not maintain your qualification, your authorisation will be suspended. If you do not revalidate within 6 months, the authorisation will expire and you will need to complete the full training course to become an authorised OV again.</p> -->


      <h3 class="govuk-heading-s" style="margin-top: 40px">Access to Sam if you will be TB testing</h3>

      <p>Sam is APHA's electronic system for recording bovine TB test results. All OVs who will be carrying out TB tests must <a href="sam">register on Sam</a>. The practice you test for must also be registered.</p>

      


      <h2 class="govuk-heading-m" id="ov-records" style="margin-top: 30px">Maintaining your OV records</h2>

      <p>APHA's OV team will create and update OV records for your practice, and ensure that all relevant documentation is issued.</p>

      <p>During your appointment, if you need to update your name or transfer to another practice, you must first update your Improve International account information.</p>

      <p>You must then complete either the OV57 form to change your name, or the OV58 practice form for a practice transfer.</p>

      <p>Send your form to APHA's OV team by post. Your information will be processed within 10 working days. Updated certificates can be found on Improve International.</p>




      <h3 class="govuk-heading-s" id="lost-damaged-stolen-stamp">Get a replacement stamp</h3>

      <p>If your stamp has been lost or damaged, complete the OV45 form and send it to APHA's OV team by post. You will need a lost property number for a stamp that has been lost.</p>

      <p>If your stamp has been stolen you must report the theft and get a Crime Reference Number before contacting the OV team. </p>

      <p>The OV team will issue replacement stamps within 10 working days.</p>




      <h3 class="govuk-heading-s" id="stop-being-ov">Deregister as an OV</h3>

      <p>If your OV status is no longer required, complete the OV55 form and send it to APHA's OV team. Your information will be processed within 10 working days.</p>

      <p>After you have deregistered as an OV your official stamp must be destroyed. You can post it to APHA's OV team to do this for you. If you want to destroy your stamp yourself, you must:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Peel off the rubber containing the unique number.</li>
        <li>Cut the rubber off and dispose of the rubber and number separately.</li>
        <li>Take a picture of the destroyed stamp and email it to CSCOneHealthOVTeam@apha.gov.uk.</li>
      </ol>

      <!-- <p><i>What happens after OV55 has been processed</i></p> -->


      <h2 class="govuk-heading-m" id="new-practice">Setting up a new practice</h2>

      <p>New practices should <a href="ov-practice-forms">download and complete the new OV practice forms</a>, then return them to APHA by post. <!-- These include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Details of suppliers A/AP201</li>
        <li>General procedures for Official Veterinarians, His Majesty's customs and excise conditions on OV fees self-billing invoicing systems - OV10</li>
        <li>General procedures for Official Veterinarians, payment of OV fees OV09</li>
        <li>Confidentiality agreement</li>
      </ul> -->

      <p>If your practice will be TB testing you must also <a href="sam">register for Sam and complete the OVb37 declaration form</a>.</p>

      <p>After the forms have been returned your local APHA office may wish to inspect your practice. When it is confirmed that your practice can be set up, APHA's OV team will complete the set up process and notify you. The OV team will ensure that all OV records are created and updated, and that relevant documentation is sent out.</p>


      <!-- GREY BOX CONTACT DETAILS FOR APHA OV TEAM -->


      <!-- <h3 class="govuk-heading-s">What to do if your practice will be TB testing</h3> -->

      <!-- This needs checking re registration for individuals and practices -->

      <!-- This section is all from VG and needs rewriting -->

      <!-- <p>Sam is APHA's system for recording the reigstration of livestock species, work management and bovine tuberculosis (bTB). All new OVs and Approved Tuberculin Testers (ATTs) must register on Sam to submit TB test results.</p>

      <p>The practice that you test for must be registered on Sam in order for you to be able to submit your TB tests results.</p>

      <p>If you are becoming an ATT, when you complete your ATT theory training you will be prompted to register on Sam. Your authorisation as an ATT will not be granted until this is complete.</p>

      <p>To register for access to submit TB test results electronically please follow the steps below:</p>

      <ol class="govuk-list govuk-list--number">
        <li>Sign up your practice and practice staff by contacting the OV team - 03000 200 301 / CSCOneHealthOVTeam@apha.gov.uk</li>
        <li>Follow the instructions on the letter you will be sent (see the Registration and Enrolment User Guide for more information)</li>
        <li>Register and enrol as an organisation for the AHVLA-ORC service</li>
        <li>Register and enrol as an agent for the AHVLA-AGT service</li>
        <li>Once registered, the Primary Contact should select the Manage services on the Government Gateway link to manage other's access to Sam.</li>
      </ol> -->

      <!-- Return the OV59 form to the OV team (APHA) who will process the information you have submitted within 10 working days. A known-facts letter will be sent out with log-on details to the practice address. -->













      <!-- <h2 class="govuk-heading-m" id="maintaining-records">Maintaining your OV records</h2>

      <p><i>How your OV records are stored and maintained</i></p>

      <p><i>What you need to do if you want to change your name during your appointment</i></p>

      <p><i>How long the name change process takes</i></p>

      <p><i>Where to find updated certificates after a name change</i></p>

      <h3 class="govuk-heading-s">What to do if you need a new stamp</h3>

      <p><i>What to do if your stamp has been lost or damaged</i></p>

      <p><i>What to do if your stamp has been stolen</i></p>

      <p><i>How long it will take to get a stamp</i></p> -->



     







      <!-- <h2 class="govuk-heading-m" id="contact">Contact information</h2>

      <p><i>Contact information for APHA's OV team</i></p>

      <p><i>Contact information for Improve International</i></p> -->




      



      <!-- <p>To become an OV you must:</p>
      <ol class="govuk-list govuk-list--number">
        <li><a href="https://improve-ov.com/registration/">register with Improve International</a></li>
        <li>enrol for the relevant Official Controls Qualification (Veterinary) training</li>
        <li>complete the training</li>
      </ol> -->

      <!-- <p>OCQ(V)s are administered by Improve International on behalf of APHA. You should contact Improve International if you have any questions about training or retraining.</p> -->

      <p></p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
