{% extends "layouts/main.html" %}

{% block pageTitle %}
  General OV information
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">OV invoicing for miscellaneous tasks and DNA packing and tagging</h1>

      <p class="govuk-body-l">How to submit claims invoices to APHA if you are an Official Veterinarian (OV) working in England or Wales.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#">How to create and send invoices</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#">Fees and mileage rates</a></li> 
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <p>Official Veterinarians (OVs) in England and Wales must submit invoices to make claims for miscellaneous tasks and DNA packing and tagging.</p>
      <p>This replaces the previous APHA self-billing system.</p>

      <!-- NOTES
      <p>Which claim forms are no longer in use</p> THESE HAVEN'T BEEN IN USE SINCE 2017 SO NOT WORTH MENTIONING
      <p>Which claim forms are in use</p> -->
      

      <h2 class="govuk-heading-m">How to create and send invoices</h2>

      <!-- NOTES
      <p>Invoices must be submitted monthly</p>
      <p>Where to send invoices (email and post)</p>
      <p>Email address to submit invoices to wherever possible</p>
      <p>Request to submit queries re invoices / payments via email</p> -->

      <p>OV practices must submit invoices monthly. After an invoice is submitted, the APHA veterinarian authorising the task must add a note to the relevant Sam record.</p>
      <p>To ensure payments are made on time, invoices must include all completed services as well as the following information:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>unique invoice number</li>
        <li>practice details, including registered trading name with the address and VAT registration number in the letter head</li>
        <li>date of visit</li>
        <li>Country Parish Holding (CPH) number and farm or customer name</li>
        <li>details of the task and appropriate fee (headage or hourly as appropriate), including the number of animals or hours according to the scale of fees</li>
        <li>mileage being charged</li>
        <li>VAT (show this as a separate charge)</li>
      </ul>

      <h3 class="govuk-heading-s">Where to send your invoice</h3>

      <p>Invoices should be emailed to <a href="">FinanceEnglandServiceDelivery@apha.gov.uk</a>.</p>
      <p>The email subject line should contain 'OV Miscellaneous Claim' followed by the practice name.</p>
      <p>Contact the Finance and Business Support Team on 020 8026 5644 if you cannot email your invoice.</p>


      <div class="govuk-inset-text">
        <p>There is a separate process for <a href="">OV claims for services carried out in Scotland</a>.</p>
      </div>
      

      <!-- <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="">
        <div class="govuk-cookie-banner__message govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width">
              <h2 class="govuk-cookie-banner__heading govuk-heading-m"></h2>
              <div class="govuk-cookie-banner__content">
                <p class="govuk-body" style="margin-left: 2%; margin-top: -2%; margin-bottom: 0%px; margin-right: 15px">There is a separate process for <a href="">OV claims for services carried out in Scotland</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->


      <h2 class="govuk-heading-m" style="margin-top: 8%">Fees and mileage rates</h2>

      <!-- NOTES
      <h3 class="govuk-heading-s">How fees are established</h3>
      <p>When to chage for DNA packaging / tagging</p>
      <p>Who needs to agree on anything outside of 'those fees'</p> -->

      <h3 class="govuk-heading-s">Scale of fees</h3>

      <!-- NOTES
      <p>Scale of fees table with hourly cost, cost per animal and visit cost</p>
      <p>Examples of how to use the scale of fees table</p>
      <p>Mileage rates</p>
      <p>DNA fees table with packaging and tagging</p> -->

      <p>There is a visit cost of £52.12 and an hourly cost of £72.53 for the following work areas or tasks instructed by APHA:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>bluetongue, foot and mouth disease, glanders, parasitic mange, rabies, sheep scab, swine fever, swine vesicular disease, equine infectious anaemia, equine viral arteritis, and bovine spongiform encephalopathy</li>
        <li>quarantine examinations</li>
        <li>inspection of animals and poultry in markets</li>
        <li>importation or exportation of animals, including horses</li>
        <li>welfare visits or reports</li>
      </ul>

      <div class="govuk-inset-text">
        <p>For example: a visit of less than one hour would cost £52.12, a visit of one hour would cost £72.52, and a visit of 2 hours 30 minutes would cost £181.33.</p>
      </div>

      <h3 class="govuk-heading-s">Mileage rates</h3>
      <p>Mileage rates are £0.40 per mile, between 1 and 1,000 miles.</p>

      <!-- <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Scale of fees</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Work area</th>
            <th scope="col" class="govuk-table__header">Hourly cost</th>
            <th scope="col" class="govuk-table__header">Cost per animal</th>
            <th scope="col" class="govuk-table__header">Visit cost</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Bluetongue, Foot and Mouth Disease, Glanders, Parasitic Mange, Rabies, Sheep Scab, Swine Fever, Quarantine Examinations, Inspection of Animals and Poultry in Markets, Swine Vesicular Disease, Equine Infectious Anaemia, Equine Viral Arteritis, Bovine Spongiform Encephalopathy</th>
            <td class="govuk-table__cell">£72.53</td>
            <td class="govuk-table__cell">Not applicable</td>
            <td class="govuk-table__cell">£52.12</td>
          </tr>
        </tbody>
      </table> -->

      <h3 class="govuk-heading-s">DNA packing and tagging fees</h3>

      <p>DNA packing and tagging can only be charged for when the owner of the animals in a TB test is paying for the test. No mileage can be claimed on these tasks.</p>
      <p>For DNA packing there is a cost of £3 per visit.</p>
      <p>For DNA tagging there is a cost of £6.04 per animal.</p>
      <p>Anything outside of these fees need to be agreed before the task date with the Veterinary Head of Field Delivery (VHoFD) or Veterinary Lead Wales (VLW).</p>


      





      

      

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}