{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

&nbsp;

<h1 class="govuk-heading-l">Vet Gateway</h1>

<p class="govuk-body-l">Migration of Animal and Plant Health Agency (APHA) content from Vet Gateway to GOV.UK</p>

&nbsp;





<h2 class="govuk-heading-m" style="margin-top: 2%;">October 2024</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--s" style="margin-bottom: 2%; margin-top: 4%;">WP3: Training and Authorisation content</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">Date updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="iin-collection-page">Import Information Notes: collection page</a></th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">17 Oct 2024</td>
    </tr>
  </tbody>
</table>



<h2 class="govuk-heading-m" style="margin-top: 12%;">General</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--s" style="margin-bottom: 2%; margin-top: 4%;">WP3 content</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
      <!-- <th scope="col" class="govuk-table__header">Version</th> -->
      <th scope="col" class="govuk-table__header">Date updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="ov-collection">Official Veterinarian collection page</a></th>
      <td class="govuk-table__cell">17 May 2024</td>
    </tr>
  </tbody>
</table>






<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--s" style="margin-bottom: 2%; margin-top: 4%;">Forms content</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
      <th scope="col" class="govuk-table__header">Date updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="export-guide">Test animals for diseases to export from the UK</a></th>
      <td class="govuk-table__cell">27 Feb 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="rabies-guide">Pet travel schemes: test for rabies antibodies</a></th>
      <td class="govuk-table__cell">22 Mar 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="forms-collection">Forms collection</a></th>
      <td class="govuk-table__cell">22 Mar 2024</td>
    </tr>
  </tbody>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="birds-export-guide">Birds: test for viruses for export, import or quarantine</a></th>
      <td class="govuk-table__cell">27 Feb 2024</td>
    </tr>
  </tbody>
</table>




<h2 class="govuk-heading-m" style="margin-top: 12%;">July 2024</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--s" style="margin-bottom: 2%; margin-top: 4%;">WP3: Training and Authorisation content</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">Date updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="sam-register-enrol-v4">Sam: register or enrol</a></th>
      <td class="govuk-table__cell">4</td>
      <td class="govuk-table__cell">25 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="fcco-v2">Become a Food Competent Certifying Officer (FCCO)</a></th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">25 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="official-veterinarians-v5">Become an Official Veterinarian (OV) or set up a new OV practice</a></th>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">25 Jul 2024</td>
    </tr>
    <th scope="row" class="govuk-table__header"><a href="ahp-att-v5">Become an Approved Tuberculin Tester (ATT)</a></th>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">25 Jul 2024</td>
    </tr>
    <th scope="row" class="govuk-table__header"><a href="ahp-cso-v4">Become a Certification Support Officer (CSO)</a></th>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">25 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="training-tb-zoos-v2">Training and requirements for carrying out zoological TB testing</a></th>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">23 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="ahp-att-v3">Become an Approved Tuberculin Tester (ATT)</a></th>
      <td class="govuk-table__cell">3</td>
      <td class="govuk-table__cell">17 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="ahp-cso-v3">Become a Certification Support Officer (CSO)</a></th>
      <td class="govuk-table__cell">3</td>
      <td class="govuk-table__cell">17 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="ahp-v2">Become an Animal Health Professional (AHP)</a></th>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">12 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="ahp-v1">Become an Animal Health Professional (AHP)</a></th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">3 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="fcco-v1">Become a Food Competent Certifying Officer (FCCO)</a></th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">3 Jul 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="official-veterinarians-v4">How to become an OV</a></th>
      <td class="govuk-table__cell">4</td>
      <td class="govuk-table__cell">3 Jul 2024</td>
    </tr>
  </tbody>
</table>




<h2 class="govuk-heading-m" style="margin-top: 12%;">May 2024</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--s" style="margin-bottom: 2%; margin-top: 4%;">WP3: Official Veterinarian (OV) content</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">Date updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="official-veterinarians-v3">How to become an OV</a></th>
      <td class="govuk-table__cell">3</td>
      <td class="govuk-table__cell">10 May 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="sam-register-enrol-v3">Sam: register or enrol</a></th>
      <td class="govuk-table__cell">3</td>
      <td class="govuk-table__cell">17 May 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="ov-claims-fees-v2">Miscellaneous OV claims and fees</a></th>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">17 May 2024</td>
    </tr>
  </tbody>
</table>





<h2 class="govuk-heading-m" style="margin-top: 12%;">April 2024</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--s" style="margin-bottom: 2%; margin-top: 4%;">WP3: Official Veterinarian (OV) content</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">Date updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="official-veterinarians-v2">How to become an OV</a></th>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">30 Apr 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="sam-register-enrol-v2">Sam: register or enrol</a></th>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">30 Apr 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="ov-claims-fees-v1">Miscellaneous OV claims and fees</a></th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">30 Apr 2024</td>
    </tr>
  </tbody>
</table>






<h2 class="govuk-heading-m" style="margin-top: 12%;">March 2024</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--s" style="margin-bottom: 2%; margin-top: 4%;">WP3: Official Veterinarian (OV) content</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">Date updated</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="training-tb-zoos-v1">Training requirements for zoological TB testing</a></th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">19 Mar 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="official-veterinarians-v1">How to become an OV</a></th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">25 Mar 2024</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="sam-register-enrol-v1">Sam: register or enrol</a></th>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">25 Mar 2024</td>
    </tr>
  </tbody>
</table>

<br>






{% endblock %}
