{% extends "layouts/main.html" %}

{% block pageTitle %}
  Rabies guide
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Pet travel schemes: test for rabies antibodies</h1>

      <p class="govuk-body-l">Use this form to submit samples to APHA to test for rabies antibodies for the EU pet travel scheme and other pet passports.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;


<h2 class="govuk-heading-m">Documents</h2>

        <a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-vlarab1.pdf"><img src="/public/images/AAP201.png" height="200px" align="left" alt="User icon" style="margin-right: 20px"></a>

        <h2 class="govuk-heading-m"><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-vlarab1.pdf">Request for determination of antibodies against rabies</a></h2>
        <p class="govuk-body" style="margin-bottom: 5px">PDF, 738 KB, 2 pages</p>
        <p class="govuk-body" style="margin-bottom: 5px">This file may not be suitable for users of assistive technology.</p>
        <p class="govuk-body" style="margin-bottom: 50px"><a href="">Request an accessible format.</a></p>



            <!-- <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#contact">Contact information</a></li> -->
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-m"></h2>

<h2 class="govuk-heading-m" id="form">Details</h2>

<p>
Veterinary surgeons can use this form to submit samples from dogs, cats and ferrets to the Animal and Plant Health Agency (APHA) to test for rabies antibodies, a requirement for some international pet travel schemes.
</p>

<p>
You can use this form to move a dog, cat or ferret:
</p>


  <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/bring-pet-to-great-britain/rabies-vaccination-boosters-and-blood-tests">to Great Britain</a></li>
        <li>from <a href="https://www.gov.uk/export-health-certificates">Great Britain to countries outside the EU</a></li>
        <li>internationally from one country to another outside Great Britain</li>
      </ul>

      <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="">
        <div class="govuk-cookie-banner__message govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width">
              <h2 class="govuk-cookie-banner__heading govuk-heading-m"></h2>
              <div class="govuk-cookie-banner__content">
                <p class="govuk-body" style="margin-left: 30px; margin-top: -10px; margin-bottom: 30px; margin-right: 15px">You cannot use this form to move dogs, cats or ferrets from Great Britain to the EU. For that you need to <a href="https://www.gov.uk/taking-your-pet-abroad/getting-an-animal-health-certificate">get an animal health certificate</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
<p>
Testing is carried out by the Animal and Plant Health Agency (APHA). APHA Weybridge is an EU-approved serology testing laboratory. 
</p>

<h2 class="govuk-heading-m" id="who">Who can use this service</h2>

<p>
To use this service:
</p>

<ul class="govuk-list govuk-list--bullet">
        <li>you must be a practising veterinary surgeon</li>
        <li>animals must be vaccinated and you must have no suspicion of clinical rabies</li>
      </ul>


      <div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="">
        <div class="govuk-cookie-banner__message govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width">
              <h2 class="govuk-cookie-banner__heading govuk-heading-m"></h2>
              <div class="govuk-cookie-banner__content">
                <p class="govuk-body" style="margin-left: 30px; margin-top: -10px; margin-bottom: 30px; margin-right: 15px">Rabies is a <a href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals)">notifiable animal disease</a>. If you suspect it in an animal in Great Britain, you must report it immediately by calling:
                  <br>
                  <br>
        - 03000 200 301 if you’re in England
        <br>
        - 03003 038 268 if you’re in Wales
        <br>
        - your local <a href="https://www.gov.uk/guidance/contact-apha#scotland-apha-field-services)">Field Services Office</a> if you’re in Scotland</li>
  <br>
  <br>
If you do not report it, you’re breaking the law.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

<br>


<h2 class="govuk-heading-m" id="tests">Tests, costs and turnaround times</h2>

<p>
Check the country's import requirements to ensure you choose the correct test. Specify the test you need on the form. The laboratory will carry out a reduced dilution test by default unless ordered otherwise.
</p>

<p>
TCO712 - Rabies antibodies in dogs and cats for PETS:
</p>

<ul class="govuk-list govuk-list--bullet">
        <li>accepted for pet travel schemes in EU and Australia, and countries that accept a reduced dilution test</li>
        <li>14 days maximum turnaround</li>
        <li>lower cost - <a href="https://science.vla.gov.uk/Tests/SearchResults.aspx?SiteName=CDT&Search=TC0712+&PriceListCategoryId=0">check the cost for TC0712</a></li>
      </ul>

<p>
TCO570 - Rabies antibodies in dogs and cats - extended method:
</p>

<ul class="govuk-list govuk-list--bullet">
        <li>for countries requiring a full titre test to import animals</li>
        <li>20 days maximum turnaround</li>
        <li>higher cost - <a href="https://science.vla.gov.uk/Tests/SearchResults.aspx?SiteName=CDT&Search=TC0570+&PriceListCategoryId=0">check the cost for TC0570</a></li>
      </ul>

<h2 class="govuk-heading-m" id="taking">Taking samples</h2>

<p>
Use 1 submission form per animal. Test results will only be accepted for the pet travel scheme if the form is completed in full and signed by the submitting vet.
</p>

<p>
Read the animals microchip before taking the sample. 
</p>

<p>
Each sample must be a minimum of 1ml serum (preferable) or 2ml clotted blood.
</p>

<p>
Send each sample in an uncoated tube, marked with the animal’s name or microchip number.
</p>

<h2 class="govuk-heading-m" id="submitting">Submitting samples from within Great Britain</h2>

<p>
Package the samples according to the <a href="https://draft-origin.publishing.service.gov.uk/guidance/how-to-pack-and-label-samples-for-submission-to-apha?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhNWYyYTA2ZC0yZTAzLTRiNmQtYjQ2OC1lNTNjNTViODg4OGIiLCJjb250ZW50X2lkIjoiMTJjZTY1YmItYTY3NC00NzMwLTlkNzMtMzVlMjQxOWQ1ZmFjIiwiaWF0IjoxNzEyNTkyNjQwLCJleHAiOjE3MTUxODQ2NDB9.JBnxDln0suq48fP_fnYTAnbMa3f8ofgYkGKSp6rJHrE&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share">postal regulations for pathological material</a>.</p>

<p>
Label the package with the following information:
</p>

<ul class="govuk-list govuk-list--bullet">
        <li>canine/feline serum samples – no commercial value</li>
        <li>category B veterinary diagnostic specimens – not restricted</li>
      </ul>

<h2 class="govuk-heading-m" id="submitting-outside">Submitting samples from outside Great Britain</h2>

<p>
You must include an import licence with all submissions (Appendix 1 of submission form).
</p>

<p>
Package the samples according to the <a href="https://draft-origin.publishing.service.gov.uk/guidance/how-to-pack-and-label-samples-for-submission-to-apha?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhNWYyYTA2ZC0yZTAzLTRiNmQtYjQ2OC1lNTNjNTViODg4OGIiLCJjb250ZW50X2lkIjoiMTJjZTY1YmItYTY3NC00NzMwLTlkNzMtMzVlMjQxOWQ1ZmFjIiwiaWF0IjoxNzEyNTkyNjQwLCJleHAiOjE3MTUxODQ2NDB9.JBnxDln0suq48fP_fnYTAnbMa3f8ofgYkGKSp6rJHrE&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share">postal regulations for pathological material</a>.
</p>

<p>
Label the package with the following information:
</p>

<ul class="govuk-list govuk-list--bullet">
<li>canine/feline serum samples – no commercial value</li>
<li>category B veterinary diagnostic specimens – not restricted</li>
<li>import licence ITIMP23.0945</li>
<li>country of origin (your country)</li>
<li>maximum value of $1. Failure to do so may result in additional importation charges. APHA will not accept any additional charges, these must be paid for by the customer.</li>
   </ul>

<h3 class="govuk-heading-s" id="download">Include a cover letter</h3>

<p>
You must also include a cover letter on headed note paper in the package, signed by the submitting veterinary surgeon describing the contents of the package (i.e. the number of serum samples submitted per species). The letter must also enclose a 'Freedom from disease declaration’ stating the following:
</p>

<ul class="govuk-list govuk-list--bullet">

<li>The serum is not derived from an animal known or suspected to be infected with a pathogen which causes a notifiable disease to which the animal from which the serum is derived is susceptible according to European Regulations or the Animal Health Regulations of the exporting country.
</li>

<li>That the serum does not originate from an animal in a premise or region or zone of a country that is subject to official restrictions due to a notifiable disease to which the animals are susceptible according to European or other National Animal Health Regulations. 
</li>

</ul>

<h3 class="govuk-heading-s" id="download">Samples from Russia</h3>

<p>
We are currently unable to test any rabies FAVN submission where the samples are taken in Russia and where payment would be made from a Russian bank/credit card.
</p>

<p>
Testing may still be possible depending on circumstances and how the payment is to be made.
</p>

<p>
Contact lab services for advice by emailing lab.services@apha.gov.uk.
</p>

<h2 class="govuk-heading-m" id="where">Where to send samples</h2>

<p>
Send this form and the samples to:</p>

<p>Rabies serology / Sample reception
<br>
APHA Weybridge
<br>
Woodham Lane
<br>
 New Haw
<br>
Addlestone
<br>
Surrey       
<br>
KT15 3NB
<br>
</p>

<h2 class="govuk-heading-m" id="pay">How to pay</h2>

<p>
You enter into a contract with APHA when the lab receives your sample and submission form.
</p>

<p>
An invoice will be sent to you with instructions on how to set up an account to make payment.
</p>

<p>
You can read the <a href="https://draft-origin.publishing.service.gov.uk/government/publications/apha-standard-terms-and-conditions?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJiZGViZDcxNS0wZDE2LTQ3YWMtYTUwNy0zNWIwOGQ0OTk1NmEiLCJjb250ZW50X2lkIjoiNzgyNzg2YTctNzE5OC00NzAyLThlNzUtMTY0ODhlNmExODFkIiwiaWF0IjoxNzEyNTkyNjQ0LCJleHAiOjE3MTUxODQ2NDR9.q9hZ6nb1dBfq6EXCTtADV4TxG9gLTSxyEIGyk69plAI&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share">APHA general terms and conditions</a> which apply to testing where no specific contract is signed.
</p>

<h2 class="govuk-heading-m" id="results">Getting results</h2>

<p>
Results are provided in IU/ml. A result of greater than 0.5IU/ml has passed the requirements for the Pet Travel Scheme, a result of less than 0.5IU/ml has failed the Pet Travel Scheme requirements and the animal will require a booster vaccination.
</p>

<p>
Test reports are sent to the submitting practice. You can order duplicate reports, or request that reports are sent to a different address, by writing this on the form.
</p>

<h2 class="govuk-heading-m" id="help">Getting help</h2>

<h3 class="govuk-heading-s" id="download">Advice on the APHA pet travel scheme</h3>

<p>
Rabies tests (pet travel scheme serology)
<br>
Email: pettravel@apha.gov.uk

<br>
Telephone: 03000 600022
</p>

<h3 class="govuk-heading-s" id="download">Testing enquiries and confirming a report's validity</h3>

<p>
To confirm a reports validity, email a scan or photo of the report to lab.services@apha.gov.uk.
</p>

<h2 class="govuk-heading-m" id="about">About the tests and APHA</h2>

<p>
The Fluorescent Antibody Virus Neutralisation (FAVN) test is a live virus test which determines whether an animal has adequate levels of rabies antibodies following vaccination.
</p>

<p>
FAVN is an approved RNATT (Rabies Neutralising Antibody Titre Test) for monitoring the effectiveness of vaccines for the purposes of commercial and non-commercial pet travel.
</p>

<p>
The rabies tests undertaken by APHA are accredited to ISO/IEC 17025 ensuring the highest level of quality assurance.
</p>

<p>
The Animal and Plant Health Agency (APHA) Rabies Laboratory at Weybridge is:
</p>

  <ul class="govuk-list govuk-list--bullet">
<li>the UK Reference Laboratory for Rabies</li>
<li>an International Reference Laboratory for Rabies for the World Organisation for Animal Health (WOAH) - formally OIE</li>
<li>an EU-approved laboratory for rabies serology</li>
<li>a UKAS accredited testing laboratory No. 1769</li>
   </ul>

      

      
      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
