{% extends "layouts/main.html" %}

{% block pageTitle %}
  Pet travel schemes: test for rabies antibodies
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Pet travel schemes: test for rabies antibodies</h1>

      <p class="govuk-body-l">Use this form to submit samples to APHA to test for rabies antibodies for the EU pet travel scheme and other pet passports.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#">Animal Plant and Health Agency</a></p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Published 9 November 2023</p>
          <p class="govuk-body-s" style="margin-bottom: 10px">Last updated 29 January 2024 — <a href="#">See all updates</a></p>
          </p>
        </div>

        &nbsp;

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#download">Download a submission form</a></li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#samples">Where to send samples</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#fees">Fees, test codes and detailed test information</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#taking-samples">Taking and packing samples</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#test-results">Receiving your test results</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#validity">Confirm a test report's validity</a></li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#help">Get help</a></li>


            <!-- <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#contact">Contact information</a></li> -->
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-m"></h2>


Details
Veterinary surgeons can use this form to submit samples from dogs, cats and ferrets for pet travel schemes in the EU and worldwide.

SME: CAN WE SPECIFY WHAT THE FORM CAN BE USED FOR, ITS STILL NOT CLEAR TO ME. FOR EXAMPLE

You can use this form to:

bring a dog, cat or ferret to Great Britain
export a dog, cat or ferret from an EU country to another
anything else?
You cannot use this form to export dogs, cats or ferrets to the EU. You will need to get an animal health certificate.

IS THE ABOVE CORRECT?

SME CAN WE LIST THE PET TRAVEL SCHEMES? IF NOT ALL OF THEM, THEN THE ONES WE KNOW ABOUT.

Testing is carried out by the Animal and Plant Health Agency (APHA). APHA Weybridge is an EU-approved blood testing laboratory.

To use this service:

you must be a practising veterinary surgeon
animals must be vaccinated and you must have no suspicion of clinical rabies
Rabies is a notifiable animal disease. If you suspect it in an animal in England or Wales you must report it immediately by calling the Defra Rural Services Helpline on 03000 200 301. In Wales, contact 0300 303 8268. In Scotland, contact your local Field Services Office. Failure to do so is an offence.

Available tests
The Fluorescent Antibody Virus Neutralisation (FAVN) test is a live virus test which determines whether an animal has adequate levels of rabies antibodies following vaccination.

FAVN is an approved RNATT (Rabies Neutralising Antibody Titre Test) for monitoring the effectiveness of vaccines for the purposes of commercial and non-commercial pet travel.

TC0712 – Rabies antibodies in dogs and cats for PETS reduced dilution test. Report accepted for Pet Travel Schemes including EU and Australia. This test will be undertaken unless indicated otherwise on the submission form.
TC0570 – Rabies antibodies in dogs and cats (extended method) full titration test. Serum samples with high antibody levels can be titrated using an end point titration test. This must be specifically requested on the submission form and incurs an increased charge and longer test turnaround time.
Some countries require the full titre test (TC0570) to import animals. Check the export health certificates (EHC) to find out which tests need to be carried out. It is your responsibility to check the import requirements.

Taking samples
Read the animals microchip before taking the sample.

Each sample must be a minimum of 1ml serum (preferable) or 2ml clotted blood.

Submission forms
Download and print the rabies serology form.

Complete 1 submission form per animal. Test results will only be accepted for the pet travel scheme if the form is completed in full and signed by the submitting vet.

Sending samples
Samples from within Great Britain
Send each sample in:

a plain tube, marked with the owner’s name, animal’s name and microchip number
an insulated leak-proof container (IATA packing instructions 650)
Label the package with the following information:

canine/feline serum samples – no commercial value
category B Veterinary diagnostic specimens – not restricted
Send your completed submission form and sample to:

Rabies Serology/Sample Reception
Animal and Plant Health Agency
Woodham Lane
New Haw, Addlestone
Surrey
KT15 3NB
UK
Extra requirements for samples from outside Great Britain
Submissions must be accompanied by an import licence (Appendix 1 of submission form).

In addition to the previous packaging requirements, samples must include the following information:

packaged in accordance with IATA Packing Instructions 650
import licence ITIMP23.0945
country of origin (your country)
indicate maximum value of the goods of $1. Failure to do so may result in additional importation charges. APHA will not accept any additional charges, these must be paid for by the customer.
A cover letter on headed note paper must also be enclosed, signed by the submitting veterinary surgeon describing the contents of the package (i.e. the number of serum samples submitted per species). The letter must also enclose a ‘Freedom from disease declaration’ stating the following:

The serum is not derived from an animal known or suspected to be infected with a pathogen which causes a notifiable disease to which the animal from which the serum is derived is susceptible according to European Regulations or the Animal Health Regulations of the exporting country.
That the serum does not originate from an animal in a premise or region or zone of a country that is subject to official restrictions due to a notifiable disease to which the animals are susceptible according to European or other National Animal Health Regulations.
Costs and turnaround times
For costs, search for the test codes on the APHA scientific price list.

Turnaround times for each test are:

TC0712: maximum 14 working days
TC0570 : maximum 20 working days
Getting results
Results are provided in IU/ml. A result of greater than 0.5IU/ml has passed the requirements for the Pet Travel Scheme, a result of less than 0.5IU/ml has failed the Pet Travel Scheme requirements and the animal will require a booster vaccination.

Test reports are sent to the submitting practice. You can order duplicate reports, or request that reports are sent to a different address, by writing this on the form.

Getting help
Import requirements for individual countries
Contact the authorities of the country to which you are importing the animal for its import requirements.

Advice on the APHA Pet Travel scheme
Contact rabies tests (pet travel scheme serology)

Email: pettravel@apha.gov.uk
Telephone: +44 (0) 208 415 2280

Testing enquiries and confirming a report’s validity
To confirm a reports validity, email a scan or photo of the report to lab.services@apha.gov.uk .

Samples from Russia
We are currently unable to test any rabies FAVN submission where the samples are taken in Russia and where payment would be made from a Russian bank/credit card. 

Testing may still be possible depending on circumstances and how the payment is to be made.

Contact lab services for advice.

About the tests and APHA
The rabies tests undertaken by APHA are accredited to ISO/IEC 17025 ensuring the highest level of quality assurance.

The Animal and Plant Health Agency (APHA) Rabies Laboratory at Weybridge is:

the UK Reference Laboratory for Rabies
an International Reference Laboratory for Rabies for the World Organisation for Animal Health (WOAH) - formally OIE
an EU-approved laboratory for rabies serology
a UKAS accredited testing laboratory No. 1769














<p>
Vets can submit samples from animals for testing for an export health certificate.
</p>

<p>
Only practising vets can use this service.
</p>

<p>
Check the <a href="https://www.gov.uk/export-health-certificates">export health certificate</a> to find out which tests need to be carried out.
</p>


<h2 class="govuk-heading-m" id="download">Download a submission form</h2>

<p>
Use the <a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-lsw008.pdf">general submission form for APHA Weybridge (LSW008)</a> for most tests for export purposes.</p>

<p>
You can use the same form for multiple types of test.
</p>


<p>
Certain diseases and uses require a specific form. Check the other export forms to ensure you are using the correct form.
</p>

<h3 class="govuk-heading-s" id="other-export-forms">Other export forms for specific diseases</h3>

<p>
Use the correct form in the following cases:</p>

  <ul class="govuk-list govuk-list--bullet">
        <li><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-lsw013.pdf">Contagious Equine Metritis Organism (CEM)</a></li>
        <li><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-apha_avian_viro.pdf">Avian virology</a></li>
        <li><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-campyl-trich1.pdf">Bovine genital Campylobacter & Trichomonas</a></li>
        <li><a href="http://apha.defra.gov.uk/documents/surveillance/forms/form-lsw009.pdf">Artificial insemination for cows and pigs</a></li>
      </ul>

<p>
Ensure you send the form to the correct centre.
</p>

<h2 class="govuk-heading-m" id="samples">Where to send samples</h2>


<p>
Send this form and the samples to:</p>

<p>Sample Reception
<br>
APHA Weybridge
<br>
Woodham Lane New Haw
<br>
Addlestone
<br>
Surrey       
<br>
KT15 3NB
<br>
Email: lab.services@apha.gov.uk</p>


<h3 class="govuk-heading-s" id="fast-tract">Fast track service</h3>

<p>
APHA offers a fast track service which guarantees we will prioritise your samples. This means we will test them on the day of their arrival, or the day after, depending on delivery time and test protocol. We will report the results on the same day the test is complete.</p>
<p>
There may be some instances where we cannot fast track a sample. We will contact you to let you know if this is the case. You should always refer to our published turnaround times when making dependent arrangements.
</p>
<p>
You can request the fast track service by ticking the ‘FAST TRACK’ box on the general submission form for APHA Weybridge.
</p>
<p>
You will be charged £75.30 for every sample in each test. If we are unable to deliver the fast track service, you will not be charged.
</p>

<h2 class="govuk-heading-m" id="fees">Fees, test codes and detailed test information</h2>


<p>
Search for the fees, codes and maximum turnaround times for each test on the <a href="https://www.gov.uk/guidance/laboratory-test-price-lists">APHA export price list</a>.
</p>

<h3 class="govuk-heading-s" id="fast-tract">How to pay</h3>

<p>
You enter into a contract with APHA when the Veterinary Investigation Centre receives your sample and submission form.
</p>
<p>
An invoice will be sent to you with instructions on how to set up an account to make payment.
</p>

<p>
See our <a href="https://assets.publishing.service.gov.uk/media/5a7e4c7aed915d74e622563d/ahvla-terms-conditions.pdf">general terms and conditions (PDF, 93.5 KB, 1 page)</a> that apply to testing where no specific contract is signed.
</p>

<h2 class="govuk-heading-m" id="taking-samples">Taking and packing samples</h2>

<h3 class="govuk-heading-s" id="fast-tract">Taking samples</h3>

<p>
Read our <a href="http://apha.defra.gov.uk/documents/surveillance/sub-handbook.pdf">guidance on sample and test selection</a> for the diagnosis of common clinical presentations in livestock and wildlife for:
</p>

  <ul class="govuk-list govuk-list--bullet">
        <li>common disease signs</li>
        <li>recommended tests</li>
        <li>sample types</li>
        <li>sampling guidance</li>
      </ul>

<h3 class="govuk-heading-s" id="fast-tract">Packing samples</h3>

<p>
Sample packaging must conform to the postal regulations for packaging of pathological material.
</p>

<p>
<a href="http://apha.defra.gov.uk/documents/surveillance/guid-sub-sample-packing.pdf">Quick reference guide to ADR and sample packing for Animal and Plant Health Agency</a> (PDF, 269 KB, 3 pages)
</p>

<h2 class="govuk-heading-m" id="test-results">Receiving your test results</h2>

<p>
Test results are returned as soon as possible. If you need the findings urgently, you should include this on the form.
</p>

<p>
Reports are sent by email. You can ask for the report to be sent by post. Reports sent by special delivery will result in extra charges and you will need to ask the centre for this service. You can also ask that results are sent to recipients other than yourself.
</p>

<h2 class="govuk-heading-m" id="validity">Confirm a test report’s validity</h2>

<p>
You can check that a previous test report was issued by APHA. You will need to provide a scan or photo of the report. Contact APHA Weybdrige.
</p>

<h2 class="govuk-heading-m" id="help">Get help</h2>

<p>
Telephone: 03000 600 022
<br>
Email: lab.services@apha.gov.uk
</p>

      
      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
