{% extends "layouts/main.html" %}

{% block pageTitle %}
  Report unusual deaths or disease in animals
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>

      <h1 class="govuk-heading-l">Report unusual deaths or disease in animals</h1>

      <p class="govuk-body-l">Veterinary surgeons can report unusual deaths or disease in animals to the Animal and Plant Health Agency (APHA).</p>

        

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#livestock">Livestock and exotic animals</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#companion">Small animals</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#wildlife">Wildlife</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#horses">Horses</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#toxicological">Toxicological incidents</a></li>

            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#zoonosis">Zoonosis</a></li>

          </ol>
        </nav>
      </aside>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">



<p>Veterinary surgeons can contact the Animal and Plant Health Agency (APHA) to report unusual animal disease or deaths.</p>




<div class="govuk-inset-text">
<p>If you suspect a <a href="https://www.gov.uk/government/collections/notifiable-diseases-in-animals">notifiable disease </a> in any animal you must report it immediately by calling the Defra Rural Services Helpline on 03000 200 301. In Wales, call 0300 303 8268. In Scotland, contact your local Field Services Office. Failure to do so is an offence.</p>
</div>

<h2 class="govuk-heading-m"id="livestock">Livestock and exotic animals</h2>

<p>To report new, unusual, severe, or unresponsive disease in livestock or exotic animals contact either the:</p>

<ul class="govuk-list govuk-list--bullet">
<li>Species Expert Group (SEG) veterinary lead</li>
<li><a href="URL">nearest APHA Veterinary Investigation Centre</a></li>
</ul>


<h3 class="govuk-heading-s">Cattle SEG</h3>

<p>
SEG veterinary lead: Vanessa Swinson <br>
Email: <a href="URL">vanessa.swinson@apha.gov.uk </a><br>
Telephone: 0208 565 4574
</p>

<h3 class="govuk-heading-s">Small ruminant SEG</h3>

<p>SEG veterinary lead: Rudolf Reichel<br>
Email: <a href="URL">rudolf.reichel@apha.gov.uk</a><br>
Telephone: +44 734 207 0255 or 020 802 6565
</p>

<h3 class="govuk-heading-s">Avian SEG</h3>

<p>
SEG veterinary lead: Zoe Treharne<br>
Email: <a href="URL">zoe.treharne@apha.gov.uk</a><br>
Telephone: 0207 895 5821
</p>

<h3 class="govuk-heading-s">Pig SEG</h3>

<p>
SEG veterinary lead: Susanna Williamson<br>
Telephone: 0208 026 4990 or 03000 600 018
</p>

<h3 class="govuk-heading-s">Miscellaneous and exotic farmed species SEG</h3>

<p>
SEG veterinary lead: David Jorge<br>
Email: <a href="URL">david.jorge@apha.gov.uk</a><br>
Telephone: 03000 600 018
</p>


<h2 class="govuk-heading-m"id="companion">Small animals</h2>

<p>Contact the Small Animals Expert Group veterinary lead to report unusual disease in small animals.</p>

<p>
Veterinary lead: Elizabeth Bruno-McClung<br>
Email: <a href="URL">elizabeth.bruno-mcclung@apha.gov.uk</a><br>
Telephone: 07823 537 373
</p>

<h2 class="govuk-heading-m"id="wildlife">Wildlife</h2>

<p>To report mass mortality (2 or more dead animals together), nervous disease, or unusual deaths in wildlife contact the:</p>

<ul class="govuk-list govuk-list--bullet">
<li>Wildlife Expert Group joint lead: Samantha Holland <br> <a href="URL">sam.holland@apha.gov.uk</a></li>
<li>Wildlife Expert Group joint lead: Jenny Cantlay <br><a href="URL">jenny.cantlay@apha.gov.uk</a></li>
<li>nearest<a href="URL"> APHA Veterinary Investigation Centre</a></li>
</ul>

<h2 class="govuk-heading-m"id="horses">Horses</h2>

<p>Contact <a href="https://equinesurveillance.org/landing/">Equine Infectious Disease Surveillance (EIDS)</a> at Cambridge Vet School, University of Cambridge:</p>

<ul class="govuk-list govuk-list--bullet">
<li>for free outbreak advice for suspected or confirmed infectious disease occurrences in the UK</li>
<li>to discuss all aspects of outbreak management, from diagnostic sampling and control measures to clearance testing and prevention of future outbreaks</li>
</ul>

<p>
Email: <a href="URL">equinesurveillance@gmail.com</a><br>
Telephone: 01223 766 496
</p>


<h2 class="govuk-heading-m"id="toxicological">Toxicological incidents</h2>

<p>If you suspect a toxicology-related incident in animals, contact the <a href="URL">nearest APHA Veterinary Investigation Centre</a>.</p>

<h2 class="govuk-heading-m"id="zoonosis">Zoonosis</h2>

<p>Contact the Zoonosis group to discuss zoological incidents.</p>

<p>
Zoonosis veterinary lead: Alan Wight<br>
Email: <a href="URL">alan.wight@apha.gov.uk</a><br>
Telephone: 03000 600 020
</p>

<p>
Deputy lead: Kate Newton<br>
Telephone: 0208 565 4508
</p>

<p>
Deputy lead: Adrienne Mackintosh<br>
Telephone: 03000 600016
</p>

      

      

      <p></p>

      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
