{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vets: guidance, forms and services
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

<style>

.info {
  padding-left: 280px;
}

</style>


{% block content %}

<span class="govuk-caption-l">Collection</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Vets: guidance, forms and services</h1>

      <p class="govuk-body-l">Guidance, forms and services for private vets, Official Veterinarians (OVs), Food Competent Certifying Officers (FCCOs), Approved Tuberculin Testers (ATTs) and Certification Support Officers (CSOs).</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#"><strong>Department for Environment, Food & Rural Affairs</strong></a> and <a href="#"><strong>Animal and Plant Health Agency</strong></a></p>
        </div>

        &nbsp;

    </div>
  </div>



  <div class="govuk-grid-column-two-thirds" style="margin-left: -1.5%;">

  <img src="/public/images/emails-image-gov.png">


  <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary" style="margin-bottom: 9%;">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#statutory-TB">Statutory TB testing</a></li>
            
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#exporting">Exporting animals and animal products</a></li>
           
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#test-samples">Test samples from animals</a></li>

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#imports">Imports</a></li>

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#training-authorisation">Training and authorisation</a></li>

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#reporting-diseases">Reporting animal disease</a></li>

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#disease">Disease surveillance, reports and dashboards</a></li>

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#alerts">Sign up for disease alerts</a></li>

            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#contacts">Contacts</a></li>
          </ol>
        </nav>
      </aside>


  <p>Vet Gateway will be shut down in 2025 and most of the content is being migrated to GOV.UK.</p>
  <p>You can also find:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>OV instructions and briefing notes on <a href="">Improve International</a></li>
    <li>APHA commercial products and services at <a href="http://apha.defra.gov.uk/apha-scientific/index.htm">APHA Scientific</a></li>
    <li>older Vet Gateway content in the <a href="https://webarchive.nationalarchives.gov.uk/ukgwa/timeline/http://apha.defra.gov.uk/vet-gateway/">National Archives</a></li>
  </ul>
  
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">


      &nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="statutory-TB">Statutory TB testing</h2>

      <p>Official Veterinarians (OVs) and Approved Tuberculin Testers (ATTs) guidance and services, including access to Sam.</p>
      <p>You can find OV instructions on <a href="https://www.improve-ov.com/home/">Improve International</a>.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p style="margin-top: -1.7%;"><a href=""><strong>Sam: enrol or sign in to submit tuberculosis (TB) test results</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>
      
      
      &nbsp;&nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="exporting">Exporting animals and animal products</h2>

      <p></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Certify an export health certificate</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>How to register for export health certificate (EHC) online</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Find an export health certificate</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>APHA test fees for export, captive avian import and ABC</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>
      

      
      &nbsp;&nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="test-samples">Test samples from animals</h2>

      <p>Submit samples to test livestock, pets and wildlife for disease, and export, import and animal control purposes. Includes post-mortem examinations.</p>
      <p>You can find APHA commercial products and services at <a href="http://apha.defra.gov.uk/apha-scientific/index.htm">APHA Scientific</a>.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>APHA laboratory test submissions and price lists</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>APHA testing submission forms</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collection</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Test for diseases in farm animals</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Submit samples from farm animals for diagnostic testing</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Submit farm animals for a post-mortem examination</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>APHA Veterinary Investigation Centres and pathology partners</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>
      

      
      &nbsp;&nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="imports">Imports</h2>

      <p>Import Information Notes (IINs) and corrections. IINs contain requirements for imports from outside the EU and from Member States of the EU, for use by veterinary staff at Border Control Posts.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Import Information Notes</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collection</p>
      

      
      &nbsp;&nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="training-authorisation">Training and authorisation</h2>

      <p>Training and authorisation for Official Veterinarians (OVs), Approved Tuberculin Testers (ATTs), Certification Support Officers (CSOs) and Food Competent Certifying Officers (FCCOs).</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Official Veterinarians (OVs) and OV practices: forms and guidance</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collection</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Become a Food Competent Certifying Officer (FCCO)</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Become a Certification Support Officer (CSO)</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Become an Approved Tuberculin Tester (ATT)</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>
      

      
      &nbsp;&nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="reporting-diseases">Reporting animal disease</h2>

      <p></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Notifiable diseases in animals</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collection</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Bird flu (avian influenza): how to spot and report it in poultry or other captive birds</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>
      

      
      &nbsp;&nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="disease">Disease surveillance, reports and dashboards</h2>

      <p></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>View APHA surveillance reports, publications and data</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Animal disease scanning surveillance at APHA</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Vets: contact APHA to get expert advice on unusual animal disease</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>
      

      
      &nbsp;&nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="alerts">Sign up for disease alerts</h2>

      <p></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>APHA animal disease alert subscription service</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Sign up for APHA disease alerts for vets</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>
      

      
      &nbsp;&nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;" id="contacts">Contacts</h2>

      <p>Sign up to get emails when APHA publishes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>news and communications</li>
        <li>research and statistics</li>
        <li>new or updated guidance</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Contact APHA</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Guidance</p>





      <img src="/public/images/gov-footer.png" style="margin-top: 5%; margin-bottom: -7%;">
      


      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
