
{% extends "layouts/main.html" %}

{% block pageTitle %}
APHA post-mortem examination and carcase collection services
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">APHA post-mortem examination and carcase collection services</h1>

      <p>Vets can use this service to find out:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>if their location is eligible for free carcase collection</li>
        <li>their nearest APHA surveillance pathology centre</li>
      </ul>



      
      <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="event-name">
      Enter the first part of the postcode
    </label>
  </h1>
        <div id="event-name-hint" class="govuk-hint">
    For example, 'GU51'
  </div>

        <input class="govuk-input govuk-input--width-4" id="width-4" name="width4" type="text">
</div>


            {{ govukButton({
          text: "Continue",
          href: "result"
        }) }}
<p>Use the postcode of the location of the carcase and not a veterinary practice.</p>
 
   <h2 class="govuk-heading-m">About this service</h2>
 

<p>APHA offers free carcase collection in many areas of England and Wales, where the location of the farm is outside the immediate catchment area of a <a href="">surveillance pathology centre</a></p>.
 
<p>Use this service to find the nearest surveillance pathology centre to the farm and to find out if a carcase is eligible for free collection.</p>
 
<p>If the carcase is not in a free collection area, then transportation to the nearest centre needs to be arranged and paid for separately.</p>
 
<p>Read the guidance on <a href="">submitting farm animals to APHA for a post-mortem examination</a>.</p>


  
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>
  </div>

{% endblock %}
