{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vet checks and returned animals or products: Import Information Notes
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "User research tasks",
        href: "/user-research"
      }
    ]
  }) }}

{% endblock %}

<style>

.info {
  padding-left: 280px;
}

</style>


{% block content %}

<span class="govuk-caption-l">Collection</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Vet checks and returned animals or products: Import Information Notes</h1>

      <p class="govuk-body-l">Import Information Notes (IINs) contain requirements for imports from outside the EU and from Member States of the EU, for use by veterinary staff at Border Control Posts.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#"><strong>Department for Environment, Food & Rural Affairs</strong></a> and <a href="#"><strong>Animal and Plant Health Agency</strong></a></p>
        </div>

        &nbsp;

    </div>
  </div>

  

  <div class="govuk-grid-column-two-thirds" style="margin-left: -1.5%;">
  <img src="/public/images/emails-image-gov.png">  
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p style="margin-top: -3%;">Return to <a href="iin-collection-page-1">view all categories of IINs</a> or find specific IINs for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="iins-live-animals-genetic-material">live animals and genetic material</a></li>
        <li><a href="iins-animal-products-human-consumption">animal products for human consumption</a></li> 
        <li><a href="iins-abps-products-not-human-consumption">animal by-products and products not for human consumption</a></li>
      </ul>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Returned products</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Products of animal origin returned to Great Britain (IIN RPTC/1)</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Returned animals</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Live animal(s) returned to Great Britain (IIN RATC/2)</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Vet checks</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Vet checks on animal products (IIN VC/AP)</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Vet checks on live animals (IIN VC/LA)</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>
      











      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
