{% extends "layouts/main.html" %}

{% block pageTitle %}
  Imports of live animals and genetic material: Import Information Notes
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "User research tasks",
        href: "/user-research"
      }
    ]
  }) }}

{% endblock %}

<style>

.info {
  padding-left: 280px;
}

</style>


{% block content %}

<span class="govuk-caption-l">Collection</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Imports of live animals and genetic material: Import Information Notes</h1>

      <p class="govuk-body-l">Import Information Notes (IINs) contain requirements for imports from outside the EU and from Member States of the EU, for use by veterinary staff at Border Control Posts.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#"><strong>Department for Environment, Food & Rural Affairs</strong></a> and <a href="#"><strong>Animal and Plant Health Agency</strong></a></p>
        </div>

        &nbsp;

    </div>
  </div>

  

  <div class="govuk-grid-column-two-thirds" style="margin-left: -1.5%;">
  <img src="/public/images/emails-image-gov.png">  
  </div>




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p style="margin-top: -3%;">Return to <a href="iin-collection-page-1">view all categories of IINs</a> or find specific IINs for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="iins-animal-products-human-consumption">animal products for human consumption</a></li>
        <li><a href="iins-abps-products-not-human-consumption">animal by-products and products not for human consumption</a></li>
        <li><a href="iins-miscellaneous">vet checks and returned animals or products</a></li>
      </ul>





      <h2 class="govuk-heading-m" style="margin-bottom: 0%; margin-top: 5%; font-size: 27px;" id="general">General and clarifying information</h2>
      <p style="margin-top: 2%; margin-bottom: -1%">IINs GEN/1 and GEN/5 must be read alongside the individual IINs for live animals and genetic material.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>General information for imports of live animals and germplasm - IIN GEN/1 </strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Clarifying information: imports of live animals - Import Information Note GEN/5</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Bovine animals</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Bovine animals - Import Information Note BVTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Bluetongue</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Bluetongue requirements for imports or transits from the EU - Import Information Note BTEU1</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Captive birds</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Captive birds - Import Information Note CBTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Equidae (horses)</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Equidae - Import Information Note EQ/2b</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Genetic material (semen, embryos and ova)</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7 %;"><a href=""><strong>Bovine semen - Import Information Note BSTC/1</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href="https://draft-origin.publishing.service.gov.uk/government/publications/import-of-fresh-and-frozen-bovine-embryos-iin-betc2?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI0YTU4YTA1My0zZTIyLTQ4NmUtOTlkNS03ZjQ5ZTA5YjIzNzEiLCJjb250ZW50X2lkIjoiN2YzNTE4NWQtNjliZi00MmYyLTg5ZTYtN2M4YzFmMTdiZWQzIiwiaWF0IjoxNzMyMTA4MDIxLCJleHAiOjE3MzQ3MDAwMjF9.UAmbmQ3HqnlxM8k-0h2zb1rUYuVy4z2yd6yF37gopVc&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share"><strong>Bovine embryos - Import Information Note BETC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Canine and feline semen into Great Britain - Import Information Note CFS/1</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Red deer semen from New Zealand - Import Information Note DSNZ/1</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Germplasm of horses - Import Information Note EGTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Germplasm of sheep and goats - Import Information Note OCGTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Genetic material of animals other than domestic cattle, sheep, goats and horses - Import Information Note BLLV/7</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Porcine semen - Import Information Note PSTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Live poultry, hatching eggs and SPF eggs</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Live poultry - Import Information Note PTTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Hatching eggs and day old chicks - Import Information Note EGHE/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Specified Pathogen Free Eggs - Import Information Note SPF/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Non-domestic ungulates</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Non-domestic ungulates - Import Information Note BLLV/3</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Other live animals (Balai)</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Certain rabies susceptible animals - Import Information Note BLLV/5a</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Dogs, cats and ferrets - Import Information Note BLLV/5b</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Primates - Import Information Note BLLV/6</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Birds/hatching eggs for Conservation and to Balai Approved Premises - Import Information Note BTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Pet birds</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Pet birds - Import Information Note PBTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Pigs (domestic)</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Pigs - Import Information Note PGTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Reptiles, amphibians and invertebrates</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Pet invertebrates (other than bees and crustaceans), amphibians and reptiles - Import Information Note BLLV/8</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Commercial import of reptiles amphibians and invertebrates - Import Information Note BLLV/9</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Salamanders - Import Information Note BSAL/1</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>





      <h2 class="govuk-heading-m" style="margin-top: 5%; margin-bottom: -1%; font-size: 27px;">Sheep and goats</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.5%;"><a href=""><strong>Sheep and goats - Import Information Note OVTC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>    
      











      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
