{% extends "layouts/main.html" %}

{% block pageTitle %}
  General OV information
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

<style>

.info {
  padding-left: 280px;
}

</style>


{% block content %}

<span class="govuk-caption-l">Collection</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Official Veterinarians (OVs) and OV practices: forms and guidance</h1>

      <p class="govuk-body-l">The processes for becoming an Official Veterinarian (OV), maintaining your authorisation, making claims, and what to do if you'll be TB testing.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#"><strong>Department for Environment, Food & Rural Affairs</strong></a> and <a href="#"><strong>Animal and Plant Health Agency</strong></a></p>
        </div>

        &nbsp;

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p>Official Veterinarians (OVs) are veterinarians in private business who are authorised to deliver veterinary services such as TB testing, brucella and anthrax surveillance testing, export health certification and notifiable disease outbreak work.</p>

      &nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%;">Manage your OV authorisation</h2>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="/guidance/may/official-veterinarians-v3"><strong>Become an Official Veterinarian (OV) or set up a new OV practice</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">12 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV13: Policy for the authorisation of OVs in Great Britain</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>TR588: Request extension or exception to OCQ training requirement</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>

      

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV45: Get a new Official Veterinarian (OV) stamp</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV55: Cancellation of Official Veterinarian (OV) status</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>

      
      &nbsp;




      <h2 class="govuk-heading-m">TB testing</h2>

      <p></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="/guidance/may/sam-register-enrol-v3"><strong>Sam: enrol or sign in to submit TB test results</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV59: Application for Sam access</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>      

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV57: Change your name on Sam</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>Sam enrolment guide for Official Veterinarians and practice staff</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>GEN02: Sam data fix request</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">28 February 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>TN184: Request to carry out TB testing of non-bovine species</a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">2 May 2024</p>


      &nbsp;




      <h2 class="govuk-heading-m">OV claims and payments</h2>

      <p></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="/guidance/may/ov-claims-fees-v2"><strong>OV invoicing for miscellaneous tasks and DNA packing and tagging</a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">2 May 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV claims for services carried out in Scotland</a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">2 May 2024</p>

      &nbsp;

      <h2 class="govuk-heading-m">OV practice forms</h2>

      <p>New OV practices must complete these forms. Established practices can also use the Details of Suppliers form to tell APHA about changes to a supplier</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>A/AP201: Details of suppliers for OV practices</a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">7 May 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV09: Payment of Official Veterinarian (OV) fees</a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">8 May 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV32: Official Veterinarian (OV) confidentiality agreement</a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">7 May 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OVb37: Sam declaration form</a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">1 May 2024</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>OV58: Change veterinary practice details on Sam</a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">1 May 2024</p>    
      





      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
