{% extends "layouts/main.html" %}

{% block pageTitle %}
  Animal products for human consumption: Import Information Notes
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

<style>

.info {
  padding-left: 280px;
}

</style>


{% block content %}

<span class="govuk-caption-l">Collection</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Animal products for human consumption: Import Information Notes</h1>

      <p class="govuk-body-l">Import Information Notes (IINs) contain statutory guidance for vets, Border Control staff and importers to use when importing live animals and animal products to Great Britain.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#"><strong>Department for Environment, Food & Rural Affairs</strong></a> and <a href="#"><strong>Animal and Plant Health Agency</strong></a></p>
        </div>

        &nbsp;

    </div>
  </div>

  

  <div class="govuk-grid-column-two-thirds" style="margin-left: -1.5%;">
  <img src="/public/images/emails-image-gov.png"> 


  <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary" style="margin-bottom: 9%;">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#general">General and clarifying information</a></li>
            
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#IINs">IINs for animal products for human consumption</a></li>

          </ol>
        </nav>
      </aside>

  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

      <p style="margin-top: -3%;">These are the IINs for live animals and genetic material only.</p>
      <p>You can also find IINs for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="iins-live-animals-genetic-material">live animals and genetic material</a></li>
        <li><a href="iins-abps-products-not-human-consumption">animal by-products and products not for human consumption</a></li>
        <li><a href="iins-miscellaneous">vet checks and returned animals or products</a></li>
      </ul>





      <h2 class="govuk-heading-m" style="margin-bottom: 2%; margin-top: 7%; font-size: 27px;" id="general">General and clarifying information</h2>

      <p>IINs GEN/2 and GEN/4 must be read alongside the individual IINs for animal products for human consumption.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>General information for imports of products of animal origin for human consumption - IIN GEN/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Clarifying information: imports of animal products - IIN GEN/4</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p> 


      &nbsp;


      <h2 class="govuk-heading-m" style="margin-bottom: 2%; font-size: 27px;">IINs for animal products for human consumption</h2>

      <p>Specific categories of IINs for imports of animal products for human consumption.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Composite products - Import Information Notes</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Dairy and milk - Import Information Notes</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="https://draft-origin.publishing.service.gov.uk/government/publications/eggs-and-egg-products-for-human-consumption-import-information-notes?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI0MmJkNzY3Yy1mNWM0LTRhOWMtYWQ4MS1jNzM4NmM5N2FjMTUiLCJjb250ZW50X2lkIjoiNmI2MDk4NjYtYWNhNi00YjE2LTg2ZDYtZWIyMGI2MzlhZjkyIiwiaWF0IjoxNzI5NzYxMTk4LCJleHAiOjE3MzI0NDMxOTh9.OGDnHubtBB8WJ6ywiRGZ8rD6I8a2eWEK_emXoCqUsGk&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share"><strong>Eggs and egg products - Import Information Notes</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Gelatine and collagen - Import Information Notes</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Meat products - Import Information Notes</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href=""><strong>Other animal products - Import Information Notes</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>
      











      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
