{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vet checks and returned animals or products: Import Information Notes
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "User research tasks",
        href: "/user-research"
      }
    ]
  }) }}

{% endblock %}

<style>

.info {
  padding-left: 280px;
}

</style>


{% block content %}

<span class="govuk-caption-l">Collection</span>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Vet checks and returned animals or products: Import Information Notes</h1>

      <p class="govuk-body-l">Import Information Notes (IINs) contain statutory guidance for vets, importers and border officials to use when importing live animals and animal products to Great Britain.</p>

             
        <div class="app-c-published-dates " lang="en">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <p class="govuk-body-s" style="margin-bottom: 10px">From: <a href="#"><strong>Department for Environment, Food & Rural Affairs</strong></a> and <a href="#"><strong>Animal and Plant Health Agency</strong></a></p>
        </div>

        &nbsp;

    </div>
  </div>

  

  <div class="govuk-grid-column-two-thirds" style="margin-left: -1.5%;">
  <img src="/public/images/emails-image-gov.png"> 


  <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary" style="margin-bottom: 9%;">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">Contents</h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            
            <!-- <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed govuk-prototype-kit-common-templates-contents-list__list-item--active"><a href="#general">General and clarifying information</a></li> -->
            
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed"><a href="#IINs">IINs for vet checks and returned animals or products</a></li>

          </ol>
        </nav>
      </aside>

  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

     <p style="margin-top: -3%;">Return to <a href="iin-collection-page-3">view all categories of IINs</a> or find specific IINs for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="iins-live-animals-genetic-material">imports of live animals and genetic material</a></li>
        <li><a href="iins-animal-products-human-consumption">animal products for human consumption</a></li>
        <li><a href="iins-abps-products-not-human-consumption">animal by-products and products not for human consumption</a></li>
      </ul>


      <h2 class="govuk-heading-m" style="margin-top: 8%; margin-bottom: 2%; font-size: 27px;" id="IINs">IINs for vet checks and returned animals or products</h2>

      <p></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>Import of animal products returned to Great Britain - Import Information Note (IIN) RPTC/1</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>Import of live animals returned to Great Britain - Import Information Note (IIN) RATC/2</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>Veterinary checks on animal products - Import Information Note (IIN) VCAP</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p style="margin-top: -1.7%;"><a href="#"><strong>Veterinary checks on live animals - Import Information Note (IIN) VCLA</strong></a></p>
      <p class="govuk-body-s" style="margin-top: -2.5%;">9 October 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Statutory guidance</p>

      











      <nav class="govuk-prototype-kit-common-templates-pagination" role="navigation" aria-label="Pagination">

      <!-- {{ govukPagination({
        previous: {
          labelText: "Page 1 title",
          href: "#"
        },
        next: {
          labelText: "Page 3 title",
          href: "#"
        }
      }) }} -->

      <!-- <p>
        <a href="#">
          View a printable version of the whole guide
        </a>
      </p> -->

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside> -->

<!--     </div>

  </main>
</div>





    </div>
  </div> -->

























{% endblock %}
