{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

&nbsp;

<h1 class="govuk-heading-l">Vet Gateway</h1>

<br></br>

<p><a href="guidance/project-page">Guidance</a></p>

<br></br>

<p><a href="postcode/start">Postcode finder</a></p>

<br></br>

<p><a href="user-research">User research</a></p>

<br></br>

<br>

<br>
<br>
<br>







{% endblock %}



{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "guidance/project-page",
         text: "Guidance"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}
