{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

&nbsp;

<h1 class="govuk-heading-l">User research</h1>

<br></br>

<p><a href="guidance/vets-guidance-forms-services">Task 1. Vets: guidance, forms and services</a></p>

<!-- <p>1. Find the import information notes</p>
<p>2. Select "Animal by-products (ABPs) or products not for human consumption" category</p>
<p>3. Select "X" IIN</p>
<p>4. Placeholder for IIN stuff</p>
<p>5. Navigate back to the IIN main page and select the "Live animals and genetic material" category</p>
<p>6. Find the "Bovine embryos (BETC/2)" IIN</p>

<p>7. Placeholder for IIN stuff -->

<br></br>

<p><a href="guidance/iin-collection-3/iin-collection-page-3">Task 2. Import Information Notes</a></p>

<!-- <br></br>

<p><a href="guidance/iin-collection-page-3">Task 3. Import Information Notes</a></p> -->





{% endblock %}
