{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

&nbsp;

<h1 class="govuk-heading-l">User research</h1>


<br></br>

<h2 class="govuk-heading-m">Task 1</h2>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Scenario A</span>
  </summary>
  <div class="govuk-details__text">
    <p>You've had a query from a French importer unsure of the production standards for untreated sheep's wool.</p>
    <p>Can you find the exact import requirements needed to advise the importer on what they should do?</p>
    <p><a href="guidance/iin-collection-1/iin-collection-page-1">Start now</a></p>
  </div>
</details>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Scenario B</span>
  </summary>
  <div class="govuk-details__text">
    <p>You're a clearing agent working on behalf of a new client who is unsure if they can import cloned fresh embryos of domestic cattle to Great Britain.</p>
    <p>Can you find the exact import requirements needed to advise the importer on what they should do?</p>
    <p><a href="guidance/iin-collection-1/iin-collection-page-1">Start now</a></p>
  </div>
</details>


<br></br>


<h2 class="govuk-heading-m">Task 2</h2>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Scenario C</span>
  </summary>
  <div class="govuk-details__text">
    <p>A new colleague wants to know what information exists about the health certificates for the import of edible eggs to Great Britain.</p>
    <p>Can you find an IIN that might be able to help them?</p>
    <p><a href="guidance/iin-collection-2/iin-collection-page-2">Start now</a></p>
  </div>
</details>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Scenario D</span>
  </summary>
  <div class="govuk-details__text">
    <p>You have a client who wants to import treated pig bristles from Botswana to Great Britain. They're particularly worried about restrictions concerning African swine fever.</p>
    <p>Can you find an IIN that might be able to help them?</p>
    <p><a href="guidance/iin-collection-2/iin-collection-page-2">Start now</a></p>
  </div>
</details>


<br></br>


<h2 class="govuk-heading-m">Task 3</h2>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Scenario E</span>
  </summary>
  <div class="govuk-details__text">
    <p>You're an importer wanting to bring a group of 10 rescue dogs into Great Britain for rehoming. You need to know the regulations around microchipping and vaccinations beforehand.</p>
    <p>Can you find the IIN that will give you this information?</p>
    <p><a href="guidance/iin-collection-3/iin-collection-page-3">Start now</a></p>
  </div>
</details>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">Scenario F</span>
  </summary>
  <div class="govuk-details__text">
    <p>You've been asked by a high-end restaurant to help them import some frogs' legs to serve to their customers. You need to find out which approved establishments in the EU you can import from.</p>
    <p>Can you find the IIN that will tell you how to find this information?</p>
    <p><a href="guidance/iin-collection-3/iin-collection-page-3">Start now</a></p>
  </div>
</details>





{% endblock %}
